
<!DOCTYPE html>
<html lang="en">

<include file="./Application/Home/View/Public/common/user_head.html" />

<body>

    <div id="wrapper">

        <include file="./Application/Home/View/Public/common/user_nav.html" />

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Your Submitted Abstract(s)</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-12">
                    	<empty name="abstracts">
                        	<p>You have not submitted your abstracts yet, click <a href="{:U('Abstract/submit_abstract')}">here</a> to submit now!</p>
                        <else />
	                    	<div class="table-responsive" id="abstract_table">
	                            <table class="table table-striped table-bordered table-hover">
	                               <thead>
	                                    <tr>
	                                        <th>#</th>
	                                        <th>Title</th>
	                                        <th>Topic</th>
	                                        <th>Type</th>
	                                        <th>Status</th>
	                                        <th>Submission Time</th>
	                                        <th>&nbsp;</th>
	                                    </tr>
	                                </thead>
	                                <tbody>
	                                    <volist name="abstracts" id="abstract">
	                                    	<tr id="abstract_{$abstract.abstract_id}" class="abstract_tr">
	                                            <td>{$i}</td>
	                                            <td>{$abstract.full_title}</td>
	                                            <td><php>echo $topic_list[$abstract['topic']]</php></td>
	                                            <td><php>echo $type_list[$abstract['type']]</php></td>
	                                            <td>
	                                            	<if condition="$abstract.status eq 2"> Accepted
	                                            		<elseif condition="$abstract.status eq 1"/>Initiated
		                                            	<else /> Unkown
		                                            </if>
	                                            </td>
	                                            <td>{$abstract.created_time}</td>
	                                            <td>
		                                        	<a href="__UPLOADS__{$abstract.filepath}" data-toggle="tooltip" data-placement="bottom" title="Download" class="btn btn-default btn-circle"><i class="fa fa-download"></i></a>
		                                        	<if condition="$abstract.status eq 1">
		                                        		<button data-id="{$abstract.abstract_id}" data-toggle="tooltip" data-placement="bottom" title="Delete" type="button" class="btn btn-danger btn-circle btn_delete"><i class="fa fa-trash-o"></i></button>
		                                            </if>

		                                        </td>
	                                        </tr>
	                                    </volist>
	                                </tbody>
	                            </table>
	                        </div>
	                    </empty>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
	<div id="loading"><img src="__STATIC__/img/loading.gif" alt="loading" />&nbsp;Loading...</div>

   	<include file="./Application/Home/View/Public/common/user_script.html" />
	<script type="text/javascript">
	$(function () {
		$('[data-toggle="tooltip"]').tooltip();
		$(".btn_delete").click(function(){
			var r=confirm("Are you sure to delete this abstract?")
			if(r==true){
				//确认删除
				//获取abstract_id
				var abstract_id = $(this).attr("data-id");
				if(abstract_id > 0){
					delete_abstract(abstract_id);
				}

			}
		});

		
	})
	//ajax删除摘要
	function delete_abstract(abstract_id){
		$.ajax({ 
            type: "post", 
            url: "{:U('Abstract/delete_abstract')}", 
            dataType: "json", 
            data: {
            	abstract_id : abstract_id
            },
            beforeSend: function () {
		        $("#loading").show();
		    },
            success: function (res) {
            	if(res['result'] == "success"){
            		//删除成功
            		alert("Delete successfully!");
            		$("#abstract_"+abstract_id).remove();
            		if($(".abstract_tr").size() == 0){
            			$("#abstract_table").html("<p>You have not submitted your abstracts yet, click <a href="+"{:U('Abstract/submit_abstract')}"+">here</a> to submit now!</p>");
            		}
            	}else{
            		alert(res['result']);
            	}
            }, 
            error: function () { 
                alert("error！"); 
            },
            complete: function () {
		        $("#loading").hide();
		    }
        });
	}
 
	</script>
</body>

</html>
