
<!DOCTYPE html>
<html lang="en">

<include file="./Application/Home/View/Public/common/user_head.html" />

<body>

    <div id="wrapper">

        <include file="./Application/Home/View/Public/common/user_nav.html" />

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Submit Abstract</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
				<form id="abstract_form" action="{:U('Abstract/user_abstract')}" enctype="multipart/form-data" method="post">
					<div class="form-group">
						<label for="full_title">The full title of the abstract<span class="mark">*</span></label>
						<input type="text" class="form-control" id="full_title" name="full_title" placeholder="Full Title">
					</div>
					<div class="form-group">
						<label for="topic">Topic<span class="mark">*</span></label>
						<select class="form-control" id="topic" name="topic">
							<option value="">-- Select One --</option>
							<volist name="topic_list" id="topic">
								<option value="{$key}">{$topic}</option>
							</volist>
						</select>
					</div>
					<div class="form-group">
						<label for="form">Presentation type<span class="mark">*</span></label>
						<select class="form-control" id="type" name="type">
							<option value="">-- Select One --</option>
							<volist name="type_list" id="type">
								<option value="{$key}">{$type}</option>
							</volist>
						</select>
						<p class="help-block">Abstracts submitted after 21 October 2016 will be considered for poster presentation only.</p>
						
					</div>
					<div class="form-group">
						<label for="abstract_file">Abstract upload<span class="mark">*</span></label>
						<input type="file" id="abstract_file" name="abstract_file">
						<p class="help-block">Please select a Word file (xxx.doc or xxx.docx) which is smaller than 2 MB in size.</p>
					</div>
					<button type="submit" class="btn btn-primary">Submit Abstract</button>
				</form>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    

   	<include file="./Application/Home/View/Public/common/user_script.html" />
   	
   	<script type="text/javascript">
		
		$(document).ready(function() {
			$('#abstract_form').bootstrapValidator({
		        message: 'This value is not valid',
		        feedbackIcons: {
		            valid: 'glyphicon glyphicon-ok',
		            invalid: 'glyphicon glyphicon-remove',
		            validating: 'glyphicon glyphicon-refresh'
		        },
		        fields: {
		        	full_title: {
		                validators: {
		                    notEmpty: {
		                        message: 'The full title is required'
		                    }
		                }
		            },
		            topic: {
		                validators: {
		                    notEmpty: {
		                        message: 'The topic is required'
		                    }
		                }
		            },
		            type: {
		                validators: {
		                    notEmpty: {
		                        message: 'The type is required'
		                    }
		                }
		            },
		            abstract_file: {
		                validators: {
		                    notEmpty: {
		                        message: 'The file input is required and cannot be empty'
		                    },
		                    file: {
		                        extension: 'doc,docx',
		                        type: 'application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document',
		                        maxSize: 2048 * 1024,
		                        message: 'The selected file is not valid, it should be (doc,docx) and 2 MB at maximum.'
		                    }
		                }
		            }
		            
		        }
		    })
			
			
		});

   	</script>

</body>

</html>
