	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>6th International Conference on Biorefinery (ICB2017)</title>
		<!-- Bootstrap core CSS -->
		<link href="__STATIC__/css/bootstrap.min.css" rel="stylesheet">
		<!-- Bootstrap Validator -->
		<link href="__STATIC__/css/bootstrapValidator.min.css" rel="stylesheet">
		 <!-- MetisMenu CSS -->
	    <link href="__STATIC__/css/metisMenu.min.css" rel="stylesheet">
	    <!-- DataTables CSS -->
	    <link href="__STATIC__/css/dataTables.bootstrap.css" rel="stylesheet">
	    <!-- DataTables Responsive CSS -->
	    <link href="__STATIC__/css/dataTables.responsive.css" rel="stylesheet">
	    <!-- Custom CSS -->
	    <link href="__STATIC__/css/sb-admin-2.css" rel="stylesheet">
	    <!-- Custom Fonts -->
	    <link href="__STATIC__/css/font-awesome.css" rel="stylesheet" type="text/css">
		<!-- Custom styles for this template -->
		<link href="__STATIC__/css/user.css" rel="stylesheet">
		<!-- Bootstrap Datetimepicker -->
		<link rel="stylesheet" type="text/css" href="__STATIC__/css/bootstrap-datetimepicker.min.css"/>

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
	      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->
	</head>