<!DOCTYPE html>
<html>

	<include file="./Application/Home/View/Public/common/head.html" />

	<body>
		<div id="wrapper">
			<div id="header">
				
			</div>
			<div id="main">
				<div id="left">
					<include file="./Application/Home/View/Public/common/menu.html" />
				</div>
				<div id="right">
					<div class="content abstract">
						<h1>Call for Abstracts</h1>
						<p>Following the successful ICB2015 Conference in Vancouver, Canada, in August 2015, the ICB2017 Conference will be held in Christchurch, New Zealand. The conference will consist of plenary lectures, keynote speeches, oral presentations and poster sessions. Topics to be covered include bioenergy, bio-based materials and chemicals, integration and integrated assessment of biorefinery technologies and processes, which include but are not limited to:</p>
						
						<div style="overflow: hidden;">
							<div class="subfield">
								<h4>Feed stocks</h4>
								<ul>
									<li>Energy crops</li>
									<li>Microalgae</li>
									<li>Forest and agriculture residues</li>
									<li>Marine biomass</li>
								</ul>
								<h4>Pretreatment</h4>
								<ul>
									<li>Biomass drying and sizing</li>
									<li>Pulping</li>
									<li>Thermal-mechanical treatment</li>
									<li>Thermal-chemical treatment</li>
									<li>Biological treatment</li>
								</ul>
								<h4>Conversion technologies</h4>
								<ul>
									<li>Combustion</li>
									<li>Hydrolysis</li>
									<li>Pyrolysis</li>
									<li>Gasification</li>
									<li>Chemical conversion</li>
									<li>Biochemical conversion and fermentation</li>
								</ul>
							</div>
							<div class="subfield">
								<h4>Bio-based materials and chemicals</h4>
								<ul>
									<li>Biopolymers</li>
									<li>Bio-based materials</li>
									<li>Platform chemicals</li>
									<li>High value bioproducts</li>
								</ul>
								<h4>Synthetic biology and platform technology</h4>
								<ul>
									<li>Synthetic biology</li>
									<li>Extraction, separation and purification technologies</li>
									<li>Design of bioreactors and photobioreactors</li>
									<li>Process control engineering</li>
								</ul>
								<h4>Integrated assessments and evaluation</h4>
								<ul>
									<li>Political evaluation</li>
									<li>Economic evaluation</li>
									<li>Environmental impact evaluation</li>
								</ul>
							</div>
						</div>
						<p>
							All scholars and experts from the academia, governments and industries are invited to participate in this conference by submitting one full page abstract for the consideration of oral or poster presentations at the conference by the deadline of <b>August 31, 2016</b>. Selected presentations are encouraged to submit a full paper online at by <b>November 1, 2016</b>. The full papers will be assessed and selected papers will be published as special issues in international journals of Biotechnology Advances, Biomass and Bioenergy and energies.
						</p>
						<p>
							During the conference, a <b>biorefinery industrial workshop</b> will be held in which representatives from commercial companies will share success stories with the audience on bioenergy, biofuels, biomaterials and biochemical. 
						</p>
						
						<h3>Instructions for Authors:</h3>
						<ul>
							<li>Abstracts must be written in English not exceeding 400 words and must be submitted online as a Word file (xxx.doc or xxx.docx)</li>
							<li>Type title (uppercasing the first letter of each word), use Times New Roman 14</li>
							<li>The presenting author must be underlined, type first name followed by family name</li>
							<li>Type affiliation underneath the authors: Dept., University/Company, City, Country</li>
							<li>Add the email of the presenting author underneath the affiliation</li>
							<li>Use font Times New Roman, 11 characters per inch (font size 11)</li>
							<li>Use multiple line spacing 1.15</li>
						</ul>
						<p><span class="bold_larger">Download the ICB-6 abstract template </span><a class="a_button" href="__DOCUMENTS__/abstract_template_ICB-6_0.doc" target="_blank">HERE</a>.</p>
						
						<h3>Submission Instructions:</h3>
						<p>Abstracts must be submitted as a Word file via the online submission form (see link below).</p>
						<ul>
							<li>Click on the link below to start</li>
							<li>Fill out your personal data and go through the submission procedure</li>
						</ul>
						<p>Your abstract(s) is/are only uploaded successfully when you receive an automatic reply confirming your submission(s).</p>
						<p><strong>Important:</strong> the uploaded Word file(s) <strong>must</strong> contain: title, authors & affiliations and the actual abstract.</p>
						<p>The deadline for submitting abstracts is <strong>August 31, 2016</strong>.</p>
						<!--<h3>Important Notes:</h3>
						<p>When submitting an abstract for POSTER presentation, submitting authors should bear in mind:</p>
						<ul>
							<li>that presenters are NOT exempted from paying the registration fee</li>
							<li>that a notification email will be sent by May 5</li>
							<li>that the presenting author must register online by May 10</li>
							<li>that the abstract of the poster presentation will only be published in the Program & Abstract Book, when the presenting author is registered by May10 </li>
						</ul>-->
						<p><span class="bold_larger">Submit your abstract </span><a class="a_button" target="_blank" href="{:U('User/register_abstract')}">HERE</a>. </p>
						
					</div>
				</div>
			</div>
			<div id="footer">
				
			</div>
		</div>
		<include file="./Application/Home/View/Public/common/script.html" />
	</body>

</html>