<!DOCTYPE html>
<html>

	<include file="./Application/Home/View/Public/common/head.html" />

	<body>
		<div id="wrapper">
			<div id="header">
				
			</div>
			<div id="main">
				<div id="left">
					<include file="./Application/Home/View/Public/common/menu.html" />
				</div>
				<div id="right">
					<div class="content abstract">
						<h1>Call for PostDeadline Posters</h1>
						<h2>Submission Deadline for PostDeadline Poster Presentations*:<br>1 Jan, 2017</h2>
						<p>Abstracts dealing with the following topics can be submitted:  </p>
						<h3>Abstract Topics: </h3>
						<div class="subfield">
							<ul>
								<li>Bioactive compounds from biomass</li>
								<li>Biobased materials</li>
								<li>Biocatalysis for bioresource transformation</li>
								<li>Bioenergy</li>
								<li>Biomass based pharmaceuticals</li>
								<li>Biomass fractionation</li>
							</ul>
						</div>
						<div class="subfield">
							<ul>
								<li>Bioactive compounds from biomass</li>
								<li>Biobased materials</li>
								<li>Biocatalysis for bioresource transformation</li>
								<li>Bioenergy</li>
								<li>Biomass based pharmaceuticals</li>
								<li>Biomass fractionation</li>
							</ul>
						</div>
						<h3>Instructions for Authors:</h3>
						<ul>
							<li>Abstracts must be written in English not exceeding 400 words and must be submitted online as a Word file (xxx.doc or xxx.docx)</li>
							<li>Type title in capital letters, use Arial 10</li>
							<li>The presenting author must be underlined, type first name followed by family name, the names of the co-authors must start with the initials followed by the family names (<u>Pieter Paul Rubens</u>, J. Van Eyck, P. Brueghel, etc..)</li>
							<li>Type affiliation underneath the authors: Hospital/Institution, Dept., City, Country</li>
							<li>Add the email of the presenting author in italics</li>
							<li>Use font Arial, 10 characters per inch (font size 10)</li>
							<li>Use single line spacing</li>
						</ul>
						<p><span class="bold_larger">Download the ICB-6 abstract template </span><a class="a_button" href="./Application/Home/View/Public/documents/abstract template ICB-6_0.doc" target="_blank">HERE</a>.</p>
						<h3>Submission Instructions:</h3>
						<p>Abstracts must be submitted as a Word file via the online submission form (see link below).</p>
						<ul>
							<li>Click on the link below to start</li>
							<li>Fill out your personal data and go through the submission procedure</li>
						</ul>
						<p> When uploading your abstract(s) you can either:</p>
						<ul>
							<li>‘Save and Continue Later’: in this case you can revise your abstract at a later stage (access with your login details)</li>
							<li>‘Save and Submit’: in this case your abstract submission is final and your abstract can no longer be revised.You can submit several abstracts at the same time, but you can also upload several abstracts at a different point in time.</li>
						</ul>
						<p>Your abstract(s) is/are only uploaded successfully when you receive an automatic reply confirming your submission(s).</p>
						<p><strong>Important:</strong> the uploaded Word file(s) <strong>must</strong> contain: Title, authors & affiliations and the actual abstract.</p>
						<p>The deadline for submitting abstracts for <strong>POSTER presentation</strong> is <strong>1 May, 2016</strong>.</p>
						<h3>Important Notes:</h3>
						<p>When submitting an abstract for POSTER presentation, submitting authors should bear in mind:</p>
						<ul>
							<li>that presenters are NOT exempted from paying the registration fee</li>
							<li>that a notification email will be sent by May 5</li>
							<li>that the presenting author must register online by May 10</li>
							<li>that the abstract of the poster presentation will only be published in the Program & Abstract Book, when the presenting author is registered by May10 </li>
						</ul>
						<p><span class="bold_larger">Submit your abstract </span><a class="a_button" target="_blank" href="#">HERE</a>. </p>
					</div>
				</div>
			</div>
			<div id="footer">
				
			</div>
		</div>
		<include file="./Application/Home/View/Public/common/script.html" />
	</body>

</html>