<!DOCTYPE html>
<html>

	<include file="./Application/Home/View/Public/common/head.html" />

	<body>
		<div id="wrapper">
			<div id="header">
				
			</div>
			<div id="main">
				<div id="left">
					<include file="./Application/Home/View/Public/common/menu.html" />
				</div>
				<div id="right">
					<div class="content">
						<h3>ADVISORY COMMITTEE</h3>
							<ul>
								<li><b>Bandaru V. Ramarao</b> – State University of New York ESF, Syracuse, USA</li>
								<li><b>Dongke Zhang</b> – University of Western Australia, Perth, Australia</li>
								<li><b>Emiel J.M. Hensen</b> – Eindhoven University of Technology, Netherlands</li>
								<li><b>Foster Agblevor</b> – Utah State University, USA</li>
								<li><b>George Hooper</b> – Mainstone Engineering Consultant, New Zealand</li>
								<li><b>Jack Saddler</b> – University of British Columbia, Canada</li>
								<li><b>Jens Nielsen</b> – Technical University of Denmark, Denmark</li>
								<li><b>Marc Dube</b> – University of Ottawa, Ottawa, Canada</li>
								<li><b>Martin A. Hubbe</b> – North Carolina State University, USA</li>
								<li><b>Martin Mittelbach</b> – Graiz University, Austria</li>
								<li><b>Murray Moo-Young</b> – University of Waterloo, Canada</li>
								<li><b>Peter Gostomski</b> – University of Canterbury, New Zealand</li>
								<li><b>Pingkai Ouyang</b> – Nanjing University of Technology, China</li>
								<li><b>Rafael Luque</b> – Universidad de Cordoba, Spain</li>
								<li><b>Richard Parnas</b> – University of Connecticut, USA</li>
								<li><b>Rolf D. Schmid</b> – University of Stuttgart, Germany</li>
								<li><b>Takashi Watanabe</b> – Kyoto University, Japan</li>
								<li><b>Thomas E. Amidon</b> – State University of New York ESF, USA</li>
								<li><b>Xianghong Cao</b> – China Petrochemical Corporation, China</li>
								<li><b>Xiaotao T. Bi</b> – University of British Columbia, Vancouver, Canada</li>
							</ul>
					</div>
				</div>
			</div>
			<div id="footer">
				
			</div>
		</div>
		<include file="./Application/Home/View/Public/common/script.html" />
	</body>

</html>