<!DOCTYPE html>
<html>

	<include file="./Application/Home/View/Public/common/head.html" />

	<body>
		<div id="wrapper">
			<div id="header">
				
			</div>
			<div id="main">
				<div id="left">
					<include file="./Application/Home/View/Public/common/menu.html" />
				</div>
				<div id="right">
					<div class="content">
						<h3>CONFERENCE AGENDA</h3>
						<h4>18th of January, 2017</h4>
						<ul>
							<li><b>5:00 – 8:00 pm.</b> Conference Registration, the conference reception ceremony</li>
						</ul>
						<h4>19th of January, 2017</h4>
						<ul>
							<li><b>8:00 am – 12:00 am.</b> Conference Registration</li>
							<li><b>8:30 am – 5:00 pm.</b> Conference opening ceremony, presentations</li>
							<li><b>7:00 pm – 11:00 pm.</b> Conference Dinner</li>
							
						</ul>
						<h4>20th of January, 2017</h4>
						<ul>
							<li><b>8:30 am – 5:00 pm.</b> Conference presentations, conference closing ceremony</li>
						</ul>
						<h4>21th of January, 2017</h4>
						<ul>
							<li>Visit the University of Canterbury</li>
						</ul>
					</div>
				</div>
			</div>
			<div id="footer">
				
			</div>
		</div>
		<include file="./Application/Home/View/Public/common/script.html" />
	</body>

</html>