<!DOCTYPE html>
<html>

	<include file="./Application/Home/View/Public/common/head.html" />

	<body>
		<div id="wrapper">
			<div id="header">
				
			</div>
			<div id="main">
				<div id="left">
					<include file="./Application/Home/View/Public/common/menu.html" />
				</div>
				<div id="right">
					<div class="content">
						<h3>ICB-6 Scientific Advisory Board</h3>
							<ul>
								<li><b>Joe Bozell</b> – University of Tennessee, USA</li>
								<li><b>James Clark</b> – Green Chemistry Centre of Excellence, University of York, UK</li>
								<li><b>Sevim Erhan</b> – United States Department of Agriculture, Wyndmoor PA, USA</li>
								<li><b>Pedro Fardim</b> – Åbo Akademi University, Finland and KU Leuven, Belgium</li>
							</ul>
					</div>
				</div>
			</div>
			<div id="footer">
				
			</div>
		</div>
		<include file="./Application/Home/View/Public/common/script.html" />
	</body>

</html>