<!DOCTYPE html>
<html>

	<include file="./Application/Home/View/Public/common/head.html" />

	<body>
		<div id="wrapper">
			<div id="header">
				
			</div>
			<div id="main">
				<div id="left">
					<include file="./Application/Home/View/Public/common/menu.html" />
				</div>
				<div id="right">
					<div class="content">
						<h3>CONFERENCE CHAIRMEN</h3>
							<ul>
								<li><b>Shusheng Pang</b> – University of Canterbury Christchurch, New Zealand</li>
								<li><b>Tianwei Tan</b> – Beijing University of Chemical Technologies, China</li>
								<li><b>Jason Zhang</b> – University of Ottawa, Ottawa, Canada</li>
							</ul>
					</div>
				</div>
			</div>
			<div id="footer">
				
			</div>
		</div>
		<include file="./Application/Home/View/Public/common/script.html" />
	</body>

</html>