<!DOCTYPE html>
<html>

	<include file="./Application/Home/View/Public/common/head.html" />

	<body>
		<div id="wrapper">
			<div id="header">
				
			</div>
			<div id="main">
				<div id="left">
					<include file="./Application/Home/View/Public/common/menu.html" />
				</div>
				<div id="right">
					<div class="content">
						<h3>CHATEAU ON THE PARK</h3>
						<p>The Chateau on the Park is resort style hotel accommodation located in Christchurch. Set amongst 5 acres of tranquil surroundings and amongst gorgeous gardens the hotel offers a welcome retreat for both leisure and corporate guests. Just minutes away from Westfield Riccarton mall, the CBS Arena and the Addington Business District, it is the perfect hotel for your stay in Christchurch.</p>
						<p class="content_img">
							<img class="venue_img" src="__STATIC__/img/ParkHotel.png"/>
						</p>
						<h3>Room Facilities</h3>
						<p>All rooms include:</p>
						<ul>
							<li>Broadband internet access</li>
							<li>Complimentary tea and coffee making facilities</li>
							<li>Refrigerator</li>
							<li>Air-conditioned rooms with individual controls</li>
							<li>International direct dial telephones</li>
							<li>Remote control colour television with Sky TV and Movie Link</li>
							<li>Hairdryer</li>
							<li>Iron and ironing board</li>
						</ul>
						<p class="content_img">
							<img class="venue_img" src="__STATIC__/img/hotel/COTP1.jpg"/>
						</p>
						<p class="content_img">
							<img class="venue_img" src="__STATIC__/img/hotel/COTP2.jpg"/>
						</p>
						<h3>Price</h3>
						<p>The Chateau on the Park offers the special Conference Accommodation Rate of <strong>$180.00 including GST</strong> per room per night and 1 breakfast, or <strong>$197.50 including GST</strong> for double/twin occupancy and 2 breakfasts, per room per night.</p>
						<h3>Room Booking</h3>
						<p>You can email the Hotel Reservations Department directly at <a href="mailto:CHCNZ_RES@hilton.com"><strong>CHCNZ_RES@hilton.com</strong></a>, and quote the reference <strong>GBIOA</strong> to make your bookings.</p>
						<h3>Contact Us</h3>
						<p><strong>Phone:</strong>	+64 3 348 8999</p>
						<p><strong>NZ Toll Free:</strong> 0800 808 999</p>
						<p><strong>Address:</strong> 189 Deans Avenue, Riccarton, Christchurch</p>
						<p><strong>Email:</strong><a href="mailto:CHCNZ_RES@hilton.com"> CHCNZ_RES@hilton.com</a></p>
						<p><strong>Website:</strong> <a target="_blank" href="http://www.chateau-park.co.nz/">www.chateau-park.co.nz</a></p>
					</div>
				</div>
			</div>
			<div id="footer">
				
			</div>
		</div>
		<include file="./Application/Home/View/Public/common/script.html" />
	</body>

</html>