<!DOCTYPE html>
<html>

	<include file="./Application/Home/View/Public/common/head.html" />

	<body>
		<div id="wrapper">
			<div id="header">
				
			</div>
			<div id="main">
				<div id="left">
					<include file="./Application/Home/View/Public/common/menu.html" />
				</div>
				<div id="right">
					<div class="content">
						<h3>Contact Information</h3>
						<p>ICB2017 Organizing Committee</p>
						<p>Department of Chemical and Process Engineering</p>
						<p>The University of Canterbury</p>
						<p>Christchurch 8140, New Zealand</p>
						<p>Email: <a href="mailto:ICB2017@canterbury.ac.nz">ICB2017@canterbury.ac.nz</a></p>
					</div>
				</div>
			</div>
			<div id="footer">
				
			</div>
		</div>
		<include file="./Application/Home/View/Public/common/script.html" />
	</body>

</html>