<!DOCTYPE html>
<html>

	<include file="./Application/Home/View/Public/common/head.html" />

	<body>
		<div id="wrapper">
			<div id="header">
				
			</div>
			<div id="main">
				<div id="left">
					<include file="./Application/Home/View/Public/common/menu.html" />
				</div>
				<div id="right">
					<div class="content registration">
						<h2>Important Dates</h2>
						<table class="table table-condensed table-hover">
							<tbody>
								<tr>
									<th>May 1, 2016</th>
									<td>First Announcement</td>
								</tr>
								<tr>
									<th>August 31, 2016</th>
									<td>﻿Deadline for Abstract Submission</td>
								</tr>
								<tr>
									<th>September 15, 2016</th>
									<td>﻿﻿Notification of Acceptance</td>
								</tr>
								<tr>
									<th>October 1, 2016</th>
									<td>﻿﻿﻿Deadline for Early Bird Registration</td>
								</tr>
								<tr>
									<th>November 1, 2016</th>
									<td>﻿﻿﻿﻿Deadline for Full Paper Submission</td>
								</tr>
								<tr>
									<th>December 1, 2016</th>
									<td>﻿﻿﻿﻿Deadline for Online Registration</td>
								</tr>
								<tr>
									<th>January 18-20, 2017</th>
									<td>﻿﻿﻿﻿Conference</td>
								</tr>
							</tbody>
						</table>
						
					
					</div>
				</div>
			</div>
			<div id="footer">
				
			</div>
		</div>
		<include file="./Application/Home/View/Public/common/script.html" />
	</body>

</html>