<!DOCTYPE html>
<html>

	<include file="./Application/Home/View/Public/common/head.html" />

	<body>
		<div id="wrapper">
			<div id="header">
				
			</div>
			<div id="main">
				<div id="left">
					<include file="./Application/Home/View/Public/common/menu.html" />
				</div>
				<div id="right">
					<div class="content program">
						<h2>Thursday, 19 January</h2>
						<br />
						<div id="morning" class="sessions_head">
							<span>13:20 - 15:15</span>
							<span>Parallel Sessions</span>
						</div>	
						<h4>Parallel Session A-1: Conversion Technologies - I</h4>
						<table class="table table-condensed">
							<tbody>
								<tr>
									<td>13:20-13:40</td>
									<td>
										<p><b>Keynote, KA1:</b> <i>TBD</i></p>
										<p>Dongke Zhang, University of Western Australia</p>
									</td>
								</tr>
								<tr>
									<td>13:40-14:00</td>
									<td>
										<p><b>Keynote, KA2:</b> <i>Study on the Synergetic Effects in Corn Straw and Oil Sands Co-Pyrolysis</i></p>
										<p>Xingang Li, Tianjin University, China</p>
									</td>
								</tr>
								<tr>
									<td>14:00-14:15</td>
									<td>
										<p><b>OA1:</b> <i>Oxidative Entrained Flow Gasification of Biomass Pyrolysis Oil at Low Temperatures: Gasifier Development and Performance Investigation</i></p>
										<p>Muhamad Fazly Abdul Patah, University of Canterbury, New Zealand</p>
									</td>
								</tr>
								<tr>
									<td>14:15-14:30</td>
									<td>
										<p><b>OA2:</b> <i>Investigation of Coke Deposition on Ni Based Zeolite Catalysts in Bio-oil Hydrodeoxygenation Processing</i></p>
										<p>Ruiqin Zhang, University of Zhengzhou, China</p>
									</td>
								</tr>
								<tr>
									<td>14:30-14:45</td>
									<td>
										<p><b>OA3:</b> <i>Experimental Evaluation of Tar Formation in Steam Gasification of Various Biomass Species in a 100kW Dual Fluidised Bed Gasifier</i></p>
										<p>Ziyin Zhang, University of Canterbury, New Zealand</p>
									</td>
								</tr>
								<tr>
									<td>14:45-15:00</td>
									<td>
										<p><b>OA4:</b> <i>Two-step hydrolysis of corn cob as treated by semi-flow hot-compressed water</i></p>
										<p>Masatsugu Takada, Kyoto University, Japan</p>
									</td>
								</tr>
								<tr>
									<td>15:00-15:15</td>
									<td>
										<p><b>OA5:</b> <i>Investigation of Ammonia Removal by Titanomagnetites from Simulated Gas of Biomass Gasification</i></p>
										<p>Yanjie Wang, University of Canterbury, New Zealand</p>
									</td>
								</tr>
							</tbody>
						</table>
						<h4>Parallel Session B-1: Bio-based Materials and Chemicals - I</h4>
						<table class="table table-condensed">
							<tbody>
								<tr>
									<td>13:20-13:40</td>
									<td>
										<p><b>Keynote, KB1:</b> <i>5-HMF Production from Industrial-grade Sugars Derived from Corn and Wood using a Biphasic Continuous-Flow Tubular Reactor</i></p>
										<p>Charles Xu, Western University, Canada</p>
									</td>
								</tr>
								<tr>
									<td>13:40-14:00</td>
									<td>
										<p><b>Keynote, KB2:</b> <i>Urban Wastewater Treatment with Algae for Energy and Nutrient Recovery</i></p>
										<p>Nirmal Khandan, New Mexico State University, United States</p>
									</td>
								</tr>
								<tr>
									<td>14:00-14:15</td>
									<td>
										<p><b>OB1:</b> <i>Production of Acetonitrile via Thermo-catalytic Conversion and Ammonization of Microalgae over Zeolites</i></p>
										<p>Ying Zhang, University of Science and Technology of China, China</p>
									</td>
								</tr>
								<tr>
									<td>14:15-14:30</td>
									<td>
										<p><b>OB2:</b> <i>Effect of Nutritional and Environmental parameters on the Vegetative Growth of Alpine Strain of Haematococcus pluvialis</i></p>
										<p>Nilanjana Mazumdar, University of Canterbury, New Zealand</p>
									</td>
								</tr>
								<tr>
									<td>14:30-14:45</td>
									<td>
										<p><b>OB3:</b> <i>High performance hybrid membranes for separation of CO2 from biogas</i></p>
										<p>Liang Ma, Beijing University of Chemical Technology, China</p>
									</td>
								</tr>
								<tr>
									<td>14:45-15:00</td>
									<td>
										<p><b>OB4:</b> <i>Prediction of the solidification temperature of biodiesel model fuel studied with the solid-liquid equilibrium</i></p>
										<p>Shinichiro Yoshidomi, Kyoto University, Japan</p>
									</td>
								</tr>
								<tr>
									<td>15:00-15:15</td>
									<td>
										<p><b>OB5:</b> <i>Separation of Binary Solution at Different Concentration of Feed and Ratio Using Desal-5DK Nanofiltration Membrane</i></p>
										<p>Hafizuddin Wan Yussof, Universiti Malaysia Pahang, Malaysia</p>
									</td>
								</tr>
							</tbody>
						</table>
						<br />
						<div id="afternoon" class="sessions_head">
							<span>15:35 - 18:00</span>
							<span>Parallel Sessions</span>
						</div>	
						<h4>Parallel Session A-2: Conversion Technologies - II</h4>
						<table class="table table-condensed">
							<tbody>
								<tr>
									<td>15:35-15:55</td>
									<td>
										<p><b>Keynote, KA3:</b> <i>Molecular mechanisms in lignin pyrolytic conversion to aromatic tar components</i></p>
										<p>Haruo Kawamoto, Kyoto University, Japan</p>
									</td>
								</tr>
								<tr>
									<td>13:55-16:15</td>
									<td>
										<p><b>Keynote, KA4:</b> <i>Production of (2R, 3R)-2, 3-Butanediol with engineered Pichia pastoris, strain development, characterization, and fermentation</i></p>
										<p>Zisheng Zhang, University of Ottawa, Canada </p>
									</td>
								</tr>
								<tr>
									<td>16:15-16:30</td>
									<td>
										<p><b>OA6:</b> <i>Jet biofuel production from algal biodiesel and algal residue after transesterification</i></p>
										<p>Jun Cheng, Zhejiang University, China</p>
									</td>
								</tr>
								<tr>
									<td>16:30-16:45</td>
									<td>
										<p><b>OA7:</b> <i>Ethylene production from dehydration of bioethanol over MFI zeolite nanosheets</i></p>
										<p>Sirawit Shetsiri, Vidyasirimedhi Institute of Science, Thailand</p>
									</td>
								</tr>
								<tr>
									<td>16:45-17:00</td>
									<td>
										<p><b>OA8:</b> <i>Experimental evaluation of performance of bed materials for steam gasification of biomass in a dual fluidised bed gasifier</i></p>
										<p>Cheng Li, University of Canterbury, New Zealand</p>
									</td>
								</tr>
								<tr>
									<td>17:00-17:15</td>
									<td>
										<p><b>OA9:</b> <i>Using Sulfonated graphene oxide to convert lipids from wet microalgae into biodiesel</i></p>
										<p>Yi Qiu, Zhejiang University, China</p>
									</td>
								</tr>
								<tr>
									<td>17:15-17:30</td>
									<td>
										<p><b>OA10:</b> <i>The Effects of Pretreatment on the Products of Fast Pyrolysis of Pine Wood</i></p>
										<p>Xing Xin, University of Canterbury, New Zealand</p>
									</td>
								</tr>
								<tr>
									<td>17:30-17:45</td>
									<td>
										<p><b>OA11:</b> <i>Assessment of Sulfide Concentration Effects on the Growth and Removal by Bacillus cerues (ATCC 14579) in Orbital Shaker</i></p>
										<p>Abd.Aziz Mohd Azoddein, University Malaysia Pahang, Malaysia</p>
									</td>
								</tr>
								<tr>
									<td>17:45-18:00</td>
									<td>
										<p><b>OA12:</b> <i>The effect of monoglyceride polymorphism on low-temperature properties of biodiesel fuel</i></p>
										<p>Eiji Minami, Kyoto University, Japan</p>
									</td>
								</tr>
							</tbody>
						</table>
						<h4>Parallel Session B-2: Bio-based Materials and Chemicals - II</h4>
						<table class="table table-condensed">
							<tbody>
								<tr>
									<td>15:35-15:55</td>
									<td>
										<p><b>Keynote, KB3:</b> <i>Production of aviation biofuel from lignocellulosic feedstock by aqueous-phase catalysis</i></p>
										<p>Longlong Ma, Guangzhou Institute of Energy Conversion, Chinese Academy of Sciences， China </p>
									</td>
								</tr>
								<tr>
									<td>13:55-16:15</td>
									<td>
										<p><b>Keynote, KB4:</b> <i>Technologies for Liquid Biofuels and Biopolymers</i></p>
										<p>Paul Bennett and Florian Graichen, Scion Research, New Zealand</p>
									</td>
								</tr>
								<tr>
									<td>16:15-16:30</td>
									<td>
										<p><b>OB6:</b> <i>Mechanism of adsorption and desorption of cellulase' carbohydrate-binding modules and its application</i></p>
										<p>Xu Fang, Shandong University, China</p>
									</td>
								</tr>
								<tr>
									<td>16:30-16:45</td>
									<td>
										<p><b>OB7:</b> <i>Experimental Research on Wet-press Molding Features and Microstructure Change of Wheat Straw</i></p>
										<p>Lianjun Hu, Henan Agricultural University, China</p>
									</td>
								</tr>
								<tr>
									<td>16:45-17:00</td>
									<td>
										<p><b>OB8:</b> <i>Optimization of Mechanical Properties of Silver Nanoparticles (AgNPs)-Loaded Chitosan/Polylactic acid (PLA) Biofilms by Using Response Surface Methodology (RSM)</i></p>
										<p>Mazrul Nizam Abu Seman, Universiti Malaysia Pahang, Malaysia</p>
									</td>
								</tr>
								<tr>
									<td>17:00-17:15</td>
									<td>
										<p><b>OB9:</b> <i>Highly Selective Production of Renewable p-Xylene from Biomass Derived 2,5-Dimethylfuran over Sulfonyl Modified Aerosil</i></p>
										<p>Xinqiang Feng, Beijing University of Chemical Technology, China</p>
									</td>
								</tr>
								<tr>
									<td>17:15-17:30</td>
									<td>
										<p><b>OB10:</b> <i>Screening of Biorefinery Options for Forest and Wood Processing Residues using P-Graph</i></p>
										<p>Martin Atkins, University of Waikato, New Zealand</p>
									</td>
								</tr>
								<tr>
									<td>17:30-17:45</td>
									<td>
										<p><b>OB11:</b> <i>Thermal Treatment of Biomass using CaO/CuO composites for H2 production</i></p>
										<p>Lunbo Duan, Southeast University, China</p>
									</td>
								</tr>
								<tr>
									<td>17:45-18:00</td>
									<td>
										<p><b>OB12:</b> <i>Logistic and Supply of Rice Straw: A Glance at Rice Straw Collection Model (BIOCOL)</i></p>
										<p>Shuhaida Harun, Universiti Kebangsaan Malaysia, Malaysia</p>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div id="footer">
				
			</div>
		</div>
		<include file="./Application/Home/View/Public/common/script.html" />
	</body>

</html>