<!DOCTYPE html>
<html>

	<include file="./Application/Home/View/Public/common/head.html" />

	<body>
		<div id="wrapper">
			<div id="header">
				
			</div>
			<div id="main">
				<div id="left">
					<include file="./Application/Home/View/Public/common/menu.html" />
				</div>
				<div id="right">
					<div class="content program">
						<h2>MONDAY, MAY 30</h2>
						<div class="sessions_head">
							<span>13.00 - 14.30</span>
							<span>Parallel Sessions</span>
						</div>	
						<h4>1A - Biobased materials - I</h4>
						<div class="sessions_content">
							<p>Improving PHA production from crude glycerol: Microbial selection</p>
							<p>Paulo Lemos, University NOVA of Lisbon, PT </p>
						</div>
						<div class="sessions_content">
							<p>Alkali-O2 oxidized lignin (LigniOx lignin) – A bio-based concrete plasticizer</p>
							<p>Anna Kalliola, VTT Technical Research Centre of Finland Ltd., FI</p>
						</div>
						<div class="sessions_content">
							<p>Title to be announced</p>
							<p>Johannes Ganster, Fraunhofer, DE</p>
						</div>
						<h4>1A - Biobased materials - I</h4>
						<div class="sessions_content">
							<p>Improving PHA production from crude glycerol: Microbial selection</p>
							<p>Paulo Lemos, University NOVA of Lisbon, PT </p>
						</div>
						<div class="sessions_content">
							<p>Alkali-O2 oxidized lignin (LigniOx lignin) – A bio-based concrete plasticizer</p>
							<p>Anna Kalliola, VTT Technical Research Centre of Finland Ltd., FI</p>
						</div>
						<div class="sessions_content">
							<p>Title to be announced</p>
							<p>Johannes Ganster, Fraunhofer, DE</p>
						</div>
					</div>
				</div>
			</div>
			<div id="footer">
				
			</div>
		</div>
		<include file="./Application/Home/View/Public/common/script.html" />
	</body>

</html>