<!DOCTYPE html>
<html>

	<include file="./Application/Home/View/Public/common/head.html" />

	<body>
		<div id="wrapper">
			<div id="header">
				
			</div>
			<div id="main">
				<div id="left">
					<include file="./Application/Home/View/Public/common/menu.html" />
				</div>
				<div id="right">
					<div class="content ">
						<h3>HAGLEY PARK MOTEL</h3>
						<p>Hagley Park Motel is situated in a private courtyard setting, in a prime, quiet location. Just a 1-minute walk (50m) to Hagley Park, Chateau on the Park & Christchurch Girls High School. Easy walk to the city centre, Mona Vale, Christchurch Hospital, restaurants, Westfield Shopping Centre, sports fields, tennis and netball courts. 5-minute drive from the railway station, CBS Canterbury Arena, Christchurch AMI Stadium, home of the Canterbury Crusaders, and Addington Raceway. 15 minutes from the airport.</p>
						<p class="content_img">
							<img src="__STATIC__/img/hotel/Ctyrd.jpg"/>
						</p>
						<p>All rooms have LCD flat-screen TVs. Wireless internet is available. Most rooms have a washing machine.</p>
						<h4>Studios</h4>
						<p>All with a queen-size bed in the living area, 2 with full kitchen facilities, 1 with tea/coffee-making facilities and microwave, all have private bathrooms.</p>
						<ul class="gallery">
						   <li>
						       <img src="__STATIC__/img/hotel/Kitch.jpg">
						   </li>
						   <li>
						       <img src="__STATIC__/img/hotel/Bdrm.jpg">
						   </li>
						   <li>
						       <img src="__STATIC__/img/hotel/Brm.jpg">
						   </li>
						</ul>
						<h4>1-Bedroom Units</h4>
						<p>Available with a queen-size bed in the bedroom, plus a single bed in the lounge, all these units have full kitchen facilities, washing machine and private bathrooms and all have been recently refurbished.</p>
						<ul class="gallery">
						   <li>
						       <img src="__STATIC__/img/hotel/Kitch.jpg">
						   </li>
						   <li>
						       <img src="__STATIC__/img/hotel/Broom.jpg">
						   </li>
						   <li>
						       <img src="__STATIC__/img/hotel/Brm.jpg">
						   </li>
						   <li>
						       <img src="__STATIC__/img/hotel/Bdrm.jpg">
						   </li>
						</ul>
						<h4>2-Bedroom Units</h4>
						<p>Units feature a super king-size bed (3 units), queen-size bed (2 units) in the first bedroom and 2 singles in the second bedroom, separate living area with full kitchen facilities, washing machine (4 units) and private bathroom.</p>
						<ul class="gallery">
						   <li>
						       <img src="__STATIC__/img/hotel/Dble.jpg">
						   </li>
						   <li>
						       <img src="__STATIC__/img/hotel/Bdrm.jpg">
						   </li>
						   <li>
						       <img src="__STATIC__/img/hotel/Singles.jpg">
						   </li>
						   <li>
						       <img src="__STATIC__/img/hotel/Lounge.jpg">
						   </li>
						   <li>
						       <img src="__STATIC__/img/hotel/Kitch.jpg">
						   </li>
						   <li>
						       <img src="__STATIC__/img/hotel/Hall.jpg">
						   </li>
						</ul>
						<!--<h4>Bedroom Apartments</h4>
						<p>Apartments feature a queen-size bed in the main bedroom and 2 single beds in the second bedroom. Both apartments feature separate lounge, full kitchen/dining room, washing machine and private bathroom.</p>
						<ul class="gallery">
							<li>
						       <img src="__STATIC__/img/hotel/Lounge2.jpg">
						   </li>
						   <li>
						       <img src="__STATIC__/img/hotel/Kitch.jpg">
						   </li>
						   <li>
						       <img src="__STATIC__/img/hotel/Singles.jpg">
						   </li>
						   <li>
						       <img src="__STATIC__/img/hotel/Dble.jpg">
						   </li>
						   <li>
						       <img src="__STATIC__/img/hotel/Broom.jpg">
						   </li>
						   <li>
						       <img src="__STATIC__/img/hotel/Lounge.jpg">
						   </li>
						   
						   <li>
						       <img src="__STATIC__/img/hotel/Hall.jpg">
						   </li>
						   <li>
						       <img src="__STATIC__/img/hotel/Brm.jpg">
						   </li>
						</ul>-->
						<h3>Contact Us</h3>
						<p><strong>Phone:</strong>+64 03 348 7683</p>
						<p><strong>Address:</strong> 13 Darvel Street, Riccarton, Christchurch</p>
						<p><strong>Reception open:</strong> 8am - 8pm (7days)</p>
						<p><strong>Website:</strong> <a target="_blank" href="http://www.hagleypark.co.nz/"> www.hagleypark.co.nz</a></p>
						<p><strong>Online booking:</strong> Click <a href="http://www.aatravel.co.nz/main/bookingform.php?listingId=10027&linkFrom=external">HRER</a></p>
					</div>
				</div>
			</div>
			<div id="footer">
				
			</div>
		</div>
		<include file="./Application/Home/View/Public/common/script.html" />
		<script type="text/javascript">
			$('ul.gallery').bsPhotoGallery({
			    "classes" : "col-md-4 col-sm-4 col-xs-4 col-xxs-12",
			    "hasModal" : true
			  });
		</script>
	</body>

</html>