<!DOCTYPE html>
<html>

	<include file="./Application/Home/View/Public/common/head.html" />

	<body>
		<div id="wrapper">
			<div id="header">
				
			</div>
			<div id="main">
				<div id="left">
					<include file="./Application/Home/View/Public/common/menu.html" />
				</div>
				<div id="right">
					<div class="content">
						<h1>6th International Conference on Biorefinery (ICB2017) </h1>
						<h2>The Chateau on the Park, Christchurch, New Zealand</h2>
						<h2>January 18-20, 2017</h2>
						<h3>Welcome</h3>
						<p>On behalf of the organising committee, we warmly welcome you to the 6th International Conference on Biorefinery (ICB2017), 18-20, January, 2017, in Christchurch, New Zealand. This follows success of previous five conferences which were held, respectively, in China, Europe and North America.</p>
						<p>Biorefinery is conversion of biomass and green wastes to valuable products including heat, power, liquid and gaseous fuels, and chemicals. This conference provides a platform for international researchers, investors, and decision makers to meet and exchange the latest research and development in this field. There is also an industry workshop for the attendees to share successful stories in commercialisation of new biorefinery technologies. The technical details of the conference can be found in the call for papers.</p>
						<p>Christchurch is well-known as a garden city in the garden country of New Zealand. There are numerous scenery sites around this city you will certainly enjoy visiting either before or after the conference. The venue, the hotel Chateau on the Park, is carefully selected which is located near the beautiful Hagley Park and the botanic garden. It takes 15 minutes to walk to the shopping mall and 30 minutes to the University of Canterbury. January is the local summer season and the best time to visit.</p>
						<p>We are looking forward to welcoming you at ICB2017!</p>
						<p>Professor Shusheng Pang, University of Canterbury, New Zealand</p>
						<p>Professor Tianwei Tan, Beijing University of Chemical Technology, China</p>
						<p>Professor Zisheng Zhang, University of Ottawa, Canada </p>
						<h4>Sponsored by</h4>
						<p>International Biorefinery Society (IBS)</p>
						<p>Beijing University of Chemical Technology (BUCT)</p>
						<p>University of Ottawa (UOO)</p>
						<p>University of Canterbury (UOC)</p>
						<h4>Co-hosted by</h4>
						<p>The University of Canterbury</p>
						<p>Beijing University of Chemical Technology (BUCT)</p>
						<p>University of Ottawa (UOO)</p>
						<h4>Official website: <a href="http://www.icb2017.org">www.icb2017.org</a></h4>
					</div>
				</div>
			</div>
			<div id="footer">
				
			</div>
		</div>
		<include file="./Application/Home/View/Public/common/script.html" />
	</body>

</html>