<!DOCTYPE html>
<html>

	<include file="./Application/Home/View/Public/common/head.html" />

	<body>
		<div id="wrapper">
			<div id="header">
				
			</div>
			<div id="main">
				<div id="left">
					<include file="./Application/Home/View/Public/common/menu.html" />
				</div>
				<div id="right">
					<div class="content">
						<h1>6th International Conference on Biorefinery (ICB2017) </h1>
						<h2>The Chateau on the Park, Christchurch, New Zealand</h2>
						<h2>January 18-20, 2017</h2>
						<!--
                        	作者：807729560@163.com
                        	时间：2016-05-08
                        	描述：welcome正文内容，暂无
                        
						<p>The 12th edition of the International Conference on Renewable Resources & Biorefineries will take place in Ghent, Belgium, from Monday May 30 until Wednesday June 1, 2016.</p>
						<p>Delegates from university, industry, governmental and non-governmental organizations and venture capital providers will present their views on industrial biotechnology, sustainable (green) chemistry and agricultural policy related to the use of renewable raw materials for non-food applications and energy supply.</p>
						<p>The conference further aims at providing an overview of the scientific, technical, economic, environmental and social issues of renewable resources and biorefineries in order to give an impetus to the biobased economy and to present new developments in this area. The conference will provide a forum for leading political, corporate, academic and financial people to discuss recent developments and set up collaborations.</p>
						<p>The three day international conference will consist of plenary lectures and oral presentations by international experts, a poster session and an exhibition. Companies and research organizations are offered the opportunity to organize a satellite symposium.</p>
						<p>We expect to welcome about 400 international participants from over 30 countries.</p>
						-->
						<h4>Sponsored by</h4>
						<p>International Biorefinery Society (IBS)</p>
						<p>Beijing University of Chemical Technology (BUCT)</p>
						<p>University of Ottawa (UOO)</p>
						<p>University of Canterbury (UOC)</p>
						<h4>Co-hosted by</h4>
						<p>The University of Canterbury</p>
						<p>Beijing University of Chemical Technology (BUCT)</p>
						<p>University of Ottawa (UOO)</p>
						<h4>Official website: <a href="http://www.icb2017.org">www.icb2017.org</a></h4>
					</div>
				</div>
			</div>
			<div id="footer">
				
			</div>
		</div>
		<include file="./Application/Home/View/Public/common/script.html" />
	</body>

</html>