<!DOCTYPE html>
<html>

	<include file="./Application/Home/View/Public/common/head.html" />

	<body>
		<div id="wrapper">
			<div id="header">
				
			</div>
			<div id="main">
				<div id="left">
					<include file="./Application/Home/View/Public/common/menu.html" />
				</div>
				<div id="right">
					<div class="content">
						<h3>ORGANIZING COMMITTEE</h3>
						<h4>Chairmen</h4>
							<ul>
								<li><b>Shusheng Pang</b> – University of Canterbury, New Zealand</li>
								<li><b>Jason Zhang</b> – University of Ottawa, Canada</li>
								<li><b>Xu Zhang</b> – Beijing University of Chemical Technology, China</li>
							</ul>
						<h4>Members</h4>
							<ul>
								<li><b>Stefan Kaluza</b> – Fraunhofer Institute, Germany</li>
								<li><b>Chang Soo Kim</b> – Korea Institute of Science and Technology, Korea</li>
								<li><b>Guangqing Liu</b> – Beijing University of Chemical Technologies, China</li>
								<li><b>Shijie Liu</b> – State University of New York ESF, USA</li>
								<li><b>Atsushi Tsutsumi</b> – University of Tokyo, Japan</li>
								<li><b>Xu Zhang</b> – Beijing University of Chemical Technologies, China</li>
								<li><b>Yip Alex</b> – University of Canterbury, New Zealand</li>
								<li><b>Matt Watson</b> – University of Canterbury, New Zealand</li>
								<li><b>Aaron Marshall</b> – University of Canterbury, New Zealand</li>
								<li><b>Gabriel Visnovsky</b> – University of Canterbury, New Zealand</li>
							</ul>
						<h4>Secretariats</h4>
							<ul>
								<li><b>Jingge Li</b> – University of Canterbury, New Zealand</li>
								<li><b>Ranee Hearst</b> – University of Canterbury, New Zealand</li>
								<li><b>Holly Hutt</b> – University of Canterbury, New Zealand</li>
								<li><b>Yanjie Wang</b> – University of Canterbury, New Zealand</li>
								<li><b>Simon Zhang</b> – University of Canterbury, New Zealand</li>
								<li><b>Xin Xing</b> – University of Canterbury, New Zealand</li>
								<li><b>Cheng Li</b> – University of Canterbury, New Zealand</li>
								<li><b>Gaetano Dedual</b> – University of Canterbury, New Zealand</li>
								<li><b>Fazly Abdul Patah</b> – University of Canterbury, New Zealand</li>
							</ul>
					</div>
				</div>
			</div>
			<div id="footer">
				
			</div>
		</div>
		<include file="./Application/Home/View/Public/common/script.html" />
	</body>

</html>