<!DOCTYPE html>
<html>

	<include file="./Application/Home/View/Public/common/head.html" />

	<body>
		<div id="wrapper">
			<div id="header">
				
			</div>
			<div id="main">
				<div id="left">
					<include file="./Application/Home/View/Public/common/menu.html" />
				</div>
				<div id="right">
					<div class="content program">
						<h1>ICB-6 Program</h1>
						<h2>MONDAY, MAY 30</h2>
						<table class="table table-condensed">
							<tbody>
								<tr>
									<td>09.00</td>
									<td>Registration</td>
								</tr>
								<tr>
									<td>10.15-12.00</td>
									<td>
										<p>Official Opening and Welcome Addresses</p>
										<br />	
										<p><b>Plenary Talk:</b> <i>Biobased Industries Initiative: Public-private partnerships as new business model in Europe</i></p>
										<p>Dirk Carrez, Clever Consult, Biobased Industries Consortium (BIC), BE </p>
										<br />
										<p><b>Plenary Talk:</b> <i>Bio-based products serving the needs of the growing world</i></p>
										<p>Nigel Mouncey, DOW, US</p>
									</td>
								</tr>
								<tr>
									<td>12.00-13.00</td>
									<td>Lunch sponsored by Solvay</td>
								</tr>
								<tr>
									<td>13.00-14.30</td>
									<td>
										<a href="firstday" target="_blank">Parallel Sessions</a>
										<ul>
											<li>1A - Biobased materials- I</li>
											<li>1B - Valorisation of biomass waste streams - I</li>
											<li>1C - Biomass fractionation</li>
										</ul>
									</td>
								</tr>
								<tr>
									<td>14.30- 15.15</td>
									<td>Coffee Break and Exhibition</td>
								</tr>
								<tr>
									<td>15.15-16.00</td>
									<td>
										<p><b>Keynote Lecture:</b></p>
										<p><i>Biorefinery survival in an era of cheap oil: Approaches to high value chemical products from carbohydrates and lignin</i></p>
										<p>Joe Bozell, University of Tennessee, US</p>
									</td>
								</tr>
								<tr>
									<td>16.00-17.30</td>
									<td>
										<a href="firstday" target="_blank">Parallel Sessions</a>
										<ul>
											<li>2A - Biobased materials - II</li>
											<li>2B - Bioactive compounds from biomass</li>
											<li>2C - Plant cell wall modification - I</li>
										</ul>
									</td>
								</tr>
								<tr>
									<td>18.00</td>
									<td>Welcome Reception</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div id="footer">
				
			</div>
		</div>
		<include file="./Application/Home/View/Public/common/script.html" />
	</body>

</html>