<!DOCTYPE html>
<html>

	<include file="./Application/Home/View/Public/common/head.html" />

	<body>
		<div id="wrapper">
			<div id="header">
				
			</div>
			<div id="main">
				<div id="left">
					<include file="./Application/Home/View/Public/common/menu.html" />
				</div>
				<div id="right">
					<div class="content program">
						<h1>ICB2017 Programme</h1>
						<h2>Thursday, 19 January</h2>
						<!--<h3>Opening Ceremony and Plenary Speeches</h3>-->
						<table class="table table-condensed">
							<tbody>
								<tr>
									<td>8:30-9:00</td>
									<td>
										<b>Opening Ceremony</b>
										<ul>
											<li>Dr Rod Carr, Vice Chancellor, University of Canterbury, New Zealand</li>
											<li>Professor Tianwei Tan, President, Beijing University of Chemical Technology, China</li>
										</ul>
									</td>
								</tr>
								<tr>
									<td>9:00-9:40</td>
									<td>
										<p><b>Plenary Speech, PL1:</b> <i>Biofuels and other products from microalgae</i></p>
										<p>Yusuf Chisti, Massey University, New Zealand</p>
									</td>
								</tr>
								<tr>
									<td>9:40-10:20</td>
									<td>
										<p><b>Plenary Speech, PL2:</b> <i>Green Biosynthesis of Chemicals and Biofuels</i></p>
										<p>Tianwei Tan, Beijing University of Chemical Technology, China</p>
									</td>
								</tr>
								<tr>
									<td>10:20-10:40</td>
									<td>Break</td>
								</tr>
								<tr>
									<td>10:40-11:20</td>
									<td>
										<p><b>Plenary Speech, PL3:</b> <i>The energy-environment enigma</i></p>
										<p>Murray Moo-Young, University of Waterloo, Canada</p>
									</td>
								</tr>
								<tr>
									<td>11:20-12:00</td>
									<td>
										<p><b>Plenary Speech, PL4:</b> <i>Bioeconomy, biorefinery and new bioproduction systems for chemicals and biofuels</i></p>
										<p>An-Ping Zeng, Universitat Hamburg, Germany</p>
									</td>
								</tr>
								<tr>
									<td>12:00-13:20</td>
									<td>Lunch</td>
								</tr>
								<tr>
									<td>13:20-15:15</td>
									<td>
										<a href="{:U('Index/firstday')}#morning" target="_blank">Parallel Sessions</a>
										<ul>
											<li>Parallel Session A-1: Conversion Technologies - I</li>
											<li>Parallel Session B-1: Bio-based Materials and Chemicals - I</li>
										</ul>
									</td>
								</tr>
								<tr>
									<td>15:15-15:35</td>
									<td>Break</td>
								</tr>
								<tr>
									<td>15:35-18:00</td>
									<td>
										<a href="{:U('Index/firstday')}#afternoon" target="_blank">Parallel Sessions</a>
										<ul>
											<li>Parallel Session A-2: Conversion Technologies - II</li>
											<li>Parallel Session B-2: Bio-based Materials and Chemicals - II</li>
										</ul>
									</td>
								</tr>
							</tbody>
						</table>
						<br />
						<h2>Friday, 20 January</h2>
						<table class="table table-condensed">
							<tbody>
								<tr>
									<td>8:30-9:55</td>
									<td>
										<a href="{:U('Index/secondday')}#morning" target="_blank">Parallel Sessions</a>
										<ul>
											<li>Parallel Session C-1: Conversion Technologies</li>
											<li>Parallel Session D-1: Integrated Systems</li>
										</ul>
									</td>
								</tr>
								<tr>
									<td>9:55-10:15 </td>
									<td>Break</td>
								</tr>
								<tr>
									<td>10:15-12:10</td>
									<td>
										<a href="{:U('Index/secondday')}#afternoon" target="_blank">Parallel Sessions</a>
										<ul>
											<li>Parallel Session C-2: Pretreatment Technologies</li>
											<li>Parallel Session D-2: Synthetic biology and platform technology</li>
										</ul>
									</td>
								</tr>
								<tr>
									<td>12:10-13:30</td>
									<td>Lunch</td>
								</tr>
								<tr>
									<td>13:30-14:00</td>
									<td>
										<p><b>Plenary Speech, PL5:</b> <i>Designer cellulosomes: A gold mine for synthetic nanobiotechnology</i></p>
										<p>E.A. Bayer, Weizmann Institute of Science, Rehovot, Israel</p>
									</td>
								</tr>
								<tr>
									<td>14:00-14:50</td>
									<td>
										<p><b>Plenary Speech, PL6:</b> <i>Recent Development of Thermochemical Conversion Technologies for Biomass to Energy and Fuels</i></p>
										<p>Shusheng Pang, University of Canterbury, New Zealand</p>
									</td>
								</tr>
								<tr>
									<td>14:50-15:40</td>
									<td>
										<p><b>Plenary Speech, PL7:</b> <i>Co-Production of Ethanol and Xylose from Hot-Water Pretreatment Liquor of Woody Biomass</i></p>
										<p>Shijie Liu, State University of New York, College of Environmental Science and Forestry, USA</p>
									</td>
								</tr>
								<tr>
									<td>15:40-16:30</td>
									<td>
										<b>Closing Ceremony</b>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div id="footer">
				
			</div>
		</div>
		<include file="./Application/Home/View/Public/common/script.html" />
	</body>

</html>