<!DOCTYPE html>
<html>

	<include file="./Application/Home/View/Public/common/head.html" />

	<body>
		<div id="wrapper">
			<div id="header">
				
			</div>
			<div id="main">
				<div id="left">
					<include file="./Application/Home/View/Public/common/menu.html" />
				</div>
				<div id="right">
					<div class="content">
						<h3>Conference Publications and supporting journals</h3>
						<p>An abstract book (print) will be provided for delegates at the conference. Full papers for plenary lectures, keynote speeches, and oral and poster presentations will be included in the electronic conference proceedings. The excellent papers will be selected and recommended for publication in special issues of scientific journals of <b>Biotechnology Advances, Biomass and Bioenergy, energies …</b></p>
					</div>
				</div>
			</div>
			<div id="footer">
				
			</div>
		</div>
		<include file="./Application/Home/View/Public/common/script.html" />
	</body>

</html>