<!DOCTYPE html>
<html>

	<include file="./Application/Home/View/Public/common/head.html" />

	<body>
		<div id="wrapper">
			<div id="header">
				
			</div>
			<div id="main">
				<div id="left">
					<include file="./Application/Home/View/Public/common/menu.html" />
				</div>
				<div id="right">
					<div class="content registration">
						<h2>Registration Fees* </h2>
						<table class="table table-condensed table-hover">
							<thead>
								<tr>
									<th>&nbsp;</th>
									<th>Until 30/04</th>
									<th>As of 01/05</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th>Academician/ Government Employee</th>
									<td>550,00 €</td>
									<td>﻿600,00 €</td>
								</tr>
								<tr>
									<th>Industrial Partner</th>
									<td>﻿715,00 €</td>
									<td>﻿﻿770,00 €</td>
								</tr>
								<tr>
									<th>PhD Student</th>
									<td>﻿﻿440,00 €</td>
									<td>﻿﻿440,00 €</td>
								</tr>
								<tr>
									<th>One Day Registration</th>
									<td>﻿﻿﻿300,00 €</td>
									<td>﻿﻿﻿350,00 €</td>
								</tr>
								<tr>
									<th>Conference Dinner - Tuesday, March 31</th>
									<td>﻿﻿﻿﻿75,00 €</td>
									<td>﻿﻿﻿﻿75,00 €</td>
								</tr>
							</tbody>
						</table>
						<p><i>*Belgian VAT (21 %) will be added to the listed registration fees.</i></p>
						<div class="register_button"><b>Register </b><a class="a_button" target="_blank" href="#">HERE</a></div>
						<h4>IMPORTANT</h4>
						<p><b>Pre-registration closes on May 25, 2016. It is possible to register on-site.</b></p>
						<p>For on-site registrations, these rates will apply:</p>
						<p>- Full registration: late fee + 50,00 €</p>
						<p>- One day Registation and PhD Student registration: late fee + 25,00 €</p>
						<br />
						<p><b>On-site payment: cash (Euro ONLY) and credit payments are accepted. </b></p>
						<h4>THE REGISTRATION FEE FOR PARTICIPANTS INCLUDES</h4>
						<ul>
							<li>Access to all scientific sessions</li>
							<li>Access to the industrial exhibition</li>
							<li>Meeting bag with program and abstracts, tourist and other information</li>
							<li>Welcome Reception on Monday and Guided Tour on Tuesday</li>
							<li>Lunches and coffee breaks as announced in the program</li>
						</ul>
						<h4>CONFIRMATION</h4>
						<p>Immediately after submitting your online registration form, an automatic confirmation is sent by email. If you do not receive this automatic confirmation, your registration has not been made successfully. Medicongress will send a formal confirmation by email after receipt of payment.</p>
						<h4>PAYMENT</h4>
						<p>All payments are to be made in Euro, net of all bank charges and commissions for the receiver.</p>
						<p>Payment is to be made by: </p>
						<ul>
							<li>
								<p><b>Bank transfer:</b></p>
								<p>Account Number: BE08 0017 1429 2013</p>
								<p>SWIFT/IBAN: GEBA BE BB</p>
								<p>Bank: BNP Parisbas Fortis, Hundelgemsesteenweg 341, 9820 Merelbeke, Belgium</p>
							</li>
							<li>
								<p><b>Credit card:</b>&nbsp;Visa, Mastercard and American Express are accepted.</p>
								<p>Please indicate RRB and your reference number/name on all money wires. </p>
							</li>
						</ul>
						<h4>CANCELLATION POLICY & CHANGES </h4>
						<ul>
							<li>
								<p><b>Cancellation: </b></p>
								<p>Any participant cancelling his/her registration before 15 April 2016, will receive a refund, less 100,00 Euro covering administration costs. No refunds are made after this date.</p>
							</li>
							<li>
								<p><b>Changes: </b></p>
								<p>You will receive a personal link in your final confirmation email. With this link it will be possible to make changes into names, dinner choice, etc. You can even add attendees with this link in case you prefer to make group bookings. </p>
							</li>
						</ul>
						<h4>VISA REQUIREMENTS</h4>
						<p>Information on visa and entrey requirements for Belgium are available <a href="https://dofi.ibz.be/sites/dvzoe/EN/Pages/home.aspx">here</a>. </p>
						<p>Particpants can apply for an invitation letter during the online registration procedure. Invitation letters are only issued for registered participants.</p>
						<h4>OUR TERMS AND CONDITIONS </h4>
						<p>These terms and conditions apply to all payments/registrations made to Medicongress Services. By using the online payment facility on this website you implicitly accept these general terms and conditions. </p>
						<ul>
							<li>
								<p><b>By entering your credit card information:</b></p>
								<p>You state that you are an authorized user of the credit card and that the associated information entered is accurate. You authorize Medicongress Services to charge the booked amount to your credit card. </p>
							</li>
							<li>
								<p><b>Declined/ Refused payments:</b></p>
								<p>We cannot accept liability if the payment is refused or declined by the credit/ debit card supplier (due to the customer quoting incorrect card details or other reasons).</p>
							</li>
							<li>
								<p><b>Refunds:</b></p>
								<p>Only the cancellation policy mentioned on the registration page is applicable. No refunds can be made after the deadline. </p>
							</li>
						</ul>
					
					</div>
				</div>
			</div>
			<div id="footer">
				
			</div>
		</div>
		<include file="./Application/Home/View/Public/common/script.html" />
	</body>

</html>