<!DOCTYPE html>
<html>

	<include file="./Application/Home/View/Public/common/head.html" />

	<body>
		<div id="wrapper">
			<div id="header">
				
			</div>
			<div id="main">
				<div id="left">
					<include file="./Application/Home/View/Public/common/menu.html" />
				</div>
				<div id="right">
					<div class="content">
						<h3>SCIENTIFIC COMMITTEE</h3>
							<ul>
								<li><b>Franco Berruti</b> – Western University, Canada</li>
								<li><b>Margaret L Britz</b> – Queensland University of Technology, Australia</li>
								<li><b>Zhuan Cao</b> – Tsinghua University, China</li>
								<li><b>Jamal Chaouki</b> – Ecole Polytechnique de Montreal, Canada</li>
							
								<li><b>Hanping Chen</b> – Huazhong University of Science & Technology, China</li>
								<li><b>Shulin Chen</b> – Washington State University, USA</li>
								<li><b>Rupert Craggs</b> – National Institute of Water and Atmospheric Research (NIWA), Hamilton, New Zealand</li>
								<li><b>Yusuf Chisti</b> – Massey University, New Zealand</li>
								<li><b>Ajay Dalai</b> – University of saskatchewan, Canada</li>
								<li><b>Michael K. Danquah</b> – Curtin University Sarawak, Malaysia</li>
								<li><b>John R. Grace</b> – University of British Columbia</li>
								<li><b>Sai Gu</b> – Cranfield University, UK</li>
								<li><b>Jan Christer Janson</b> – Uppsala University, Sweden</li>
								<li><b>Brian Cox</b> – Bioenergy Association New Zealand (BANZ), New Zealand</li>
								<li><b>Mohammed Farid</b> – University of Auckland, Auckland, New Zealand</li>
								<li><b>Lixin Huang</b> – Institute of Chemical Industry of Forest Products, China Academy of Forestry, Nanjing, China</li>
								<li><b>Yifan Han</b> – Zhengzhou University, Zhengzhou, China</li>
								<li><b>Jianchun Jiang</b> – Institute of Chemical Industry of Forest Products, China Academy of Forestry, Nanjing, China</li>
								<li><b>Nirmal Joshee</b> – Fort Valley State University, USA</li>
								<li><b>Yoon Mo Koo</b> – Inha University, Korea</li>
								<li><b>Robert Legros</b> – Ecole Polytechnique de Montreal, Canada</li>
								<li><b>Bin Liang</b> – Sichuan University, China</li>
								<li><b>Tana Levi</b> – CRL Energy Ltd., Lower Hutt, Wellington, New Zealand</li>
								<li><b>Gang Li</b> – Hebei University of Technology, Tianjin, China</li>
								<li><b>Lu Lin</b> – Xiamen University, China</li>
								<li><b>Longlong Ma</b> – Guangzhou Institute of Energy Conversion, Chinese Academy of Sciences, China)</li>
								<li><b>Yanhe Ma</b> – Institute of Microbiology, Chinese Academy of Sciences, China</li>
								<li><b>Murray McCurdy</b> – CRL Energy Ltd., Lower Hutt, Wellington, New Zealand</li>
								<li><b>Brendon Miller</b> – Jembec Consultant, Christchurch, New Zealand</li>
								<li><b>Yinbo Qu</b> – Shandong University, China</li>
								<li><b>Shri Ramaswamy</b> – University of Minnesota, USA</li>
								<li><b>Wim Soetaert</b> – Ghent University, Belgium</li>
								<li><b>Runchang Sun</b> – Beijing Forestry University, China</li>
								<li><b>Zhifa Sun</b> – University of Otago, New Zealand</li>
								<li><b>Kirk Torr</b> – Scion Research, Rotorua, New Zealand</li>
								<li><b>Noritatsu Tsubaki</b> – Noritatsu Tsubaki</li>
								<li><b>Rien Visser</b> – University of Canterbury, New Zealand</li>
								<li><b>Kurt Wagemann</b> – DECHEMA e. V., Germany</li>
								<li><b>Chihwa Wang</b> – National University of Singapore, Singapore</li>
								<li><b>Mengjie Wang</b> – Chinese Academy of Agriculture Engineering, China</li>
								<li><b>Mo Xian</b> – Qingdao Institute of Biomass Energy and Biomaterials, China Academy of Science, Qingdao, China</li>
								<li><b>Rui Xiao</b> – Southeast University, China</li>
								<li><b>Charles Xu</b> – University of Western Ontario, Ontario, Canada</li>
								<li><b>Guangwen Xu</b> – Institute of Process Engineering, Chinese Academy of Sciences, China</li>
								<li><b>Xuebing Xu</b> – Technical University of Denmark, Denmark</li>
								<li><b>Shangtian Yang</b> – Ohio State University, USA</li>
								<li><b>Hao Ying</b> – Institute of Chemical Industry of Forest Products, China Academy of Forestry, Nanjing, China</li>
								<li><b>Alex Yip</b> – University of Canterbury, New Zealand</li>
								<li><b>Yingjin Yuan</b> – Tianjing University, China</li>
								<li><b>Ruihong Zhang</b> – University of California, Davis, USA</li>
								<li><b>Ruiqin Zhang</b> – Zhengzhou University, Zhengzhou, China</li>
								<li><b>Xueming Zhao</b> – University of Illinois, USA</li>
								<li><b>Ying Zheng</b> – University of New Brunswick, Canada</li>
								<li><b>Junyong Zhu</b> – Forest Products Lab, USA</li>
							</ul>
					</div>
				</div>
			</div>
			<div id="footer">
				
			</div>
		</div>
		<include file="./Application/Home/View/Public/common/script.html" />
	</body>

</html>