<!DOCTYPE html>
<html>

	<include file="./Application/Home/View/Public/common/head.html" />

	<body>
		<div id="wrapper">
			<div id="header">
				
			</div>
			<div id="main">
				<div id="left">
					<include file="./Application/Home/View/Public/common/menu.html" />
				</div>
				<div id="right">
					<div class="content program">
						<h2>Friday, 20 January</h2>
						<br />
						<div id="morning" class="sessions_head">
							<span>8:30 - 9:55</span>
							<span>Parallel Sessions</span>
						</div>	
						<h4>Parallel Session C-1: Conversion Technologies (Camelot Room)</h4>
						<table class="table table-condensed">
							<tbody>
								<tr><td colspan="2"><b>Co-chairs: Chris Franco; N. Joshee</b></td></tr>
								<tr>
									<td>8:30-8:50</td>
									<td>
										<p><b>Keynote, KC1:</b> <i>Reducing enzyme cost by medium and process optimization for commercialization of integrated lignocellulosic biorefinery</i></p>
										<p>Yinbo Qu, Shandong University, China</p>
									</td>
								</tr>
								<tr>
									<td>8:50-9:10</td>
									<td>
										<p><b>Keynote, KC2:</b> <i>Advanced Bioethanol Production with Acetic Acid Fermentation from Lignocelluloses</i></p>
										<p>Shiro Saka, Kyoto University, Japan</p>
									</td>
								</tr>
								<tr>
									<td>9:10-9:25</td>
									<td>
										<p><b>OC1:</b> <i>Novel reactor design and associated process for biomass fast pyrolysis</i></p>
										<p>Jianlong Li, Qingdao University of Science and Technology, China</p>
									</td>
								</tr>
								<tr>
									<td>9:25-9:40</td>
									<td>
										<p><b>OC2:</b> <i>The Solar Fuels Research Program within the Australian Solar Thermal Research Initiative (ASTRI) – Solar Hybridised Dual Fluidised Bed Gasification</i></p>
										<p>Woei Lean Saw, The University of Adelaide, Australia</p>
									</td>
								</tr>
								<tr>
									<td>9:40-9:55</td>
									<td>
										<p><b>OC3:</b> <i>Enhancing methane production from air-dried corn stover using mesophilic-hydrothermal-thermophilic digestion</i></p>
										<p>Dong Li, Chengdu Institute of Biology, Chinese Academy of Sciences, China</p>
									</td>
								</tr>
								
							</tbody>
						</table>
						<h4>Parallel Session D-1: Integrated Systems (Tower Room)</h4>
						<table class="table table-condensed">
							<tbody>
								<tr><td colspan="2"><b>Co-chairs: Yan Feng; An-Ping Zeng</b></td></tr>
								<tr>
									<td>8:30-8:50</td>
									<td>
										<p><b>Keynote, KD1:</b> <i>Biomass as back-up fuel in Hybrid Solar Power Plants</i></p>
										<p>Jan Baeyens, University of Warwick, Belgium</p>
									</td>
								</tr>
								<tr>
									<td>8:50-9:10</td>
									<td>
										<p><b>Keynote, KD2:</b> <i>Renewable Aviation Fuel in New Zealand: Plant Design and Economic Evaluation of 3 Feedstocks</i></p>
										<p>Matthew Watson, University of Canterbury, New Zealand</p>
									</td>
								</tr>
								<tr>
									<td>9:10-9:25</td>
									<td>
										<p><b>OD1:</b> <i>Simultaneous Material, Energy, and Exergy Integration for Biorefinery Concepts</i></p>
										<p>Benjamin H Y Ong, University of Waikato, New Zealand</p>
									</td>
								</tr>
								<tr>
									<td>9:25-9:40</td>
									<td>
										<p><b>OD2:</b> <i>Exergy analysis as a key tool for the evaluation of bio- and thermo-chemical energy conversion processes for biomass</i></p>
										<p>Jan Baeyens, University of Warwick, Belgium</p>
									</td>
								</tr>
								<tr>
									<td>9:40-9:55</td>
									<td>
										<p><b>OD3:</b> <i>Process design of the hydroesterification of meat processing dissolved air flotation sludge for biodiesel production: simulation study and preliminary economic assessment</i></p>
										<p>Oseweuba Okoro, Otago University, New Zealand</p>
									</td>
								</tr>
							</tbody>
						</table>
						<br />
						<div id="afternoon" class="sessions_head">
							<span>10:15 - 12:10</span>
							<span>Parallel Sessions</span>
						</div>	
						<h4>Parallel Session C-2: Pretreatment Technologies (Camelot Room)</h4>
						<table class="table table-condensed">
							<tbody>
								<tr><td colspan="2"><b>Co-chairs: Yinbo Qu; Shiro Saka</b></td></tr>
								<tr>
									<td>10:15-10:35</td>
									<td>
										<p><b>Keynote, KC3:</b> <i>Macroalgal biorefinery: Adding value to an emerging marine resource</i></p>
										<p>Chris Franco, Flinders University, Australia</p>
									</td>
								</tr>
								<tr>
									<td>10:35-10:55</td>
									<td>
										<p><b>Keynote, KC4:</b> <i>Bioenergy crop must develop biobased economy: Paulownia for South Eastern USA</i></p>
										<p>N. Joshee, Agricultural Research Station, Fort Valley State University, USA</p>
									</td>
								</tr>
								<tr>
									<td>10:55-11:10</td>
									<td>
										<p><b>OC4:</b> <i>Conversion of Bamboo for Production of High Value Chemicals Base On Components Separation</i></p>
										<p>Jie Chang, South China University of Technology, China</p>
									</td>
								</tr>
								<tr>
									<td>11:10-11:25</td>
									<td>
										<p><b>OC5:</b> <i>Pretreatment and conversion of hybrid pennisetum over solid alkalis</i></p>
										<p>Xuesong Tan, Guangzhou Institute of Energy Conversion, Chinese Academy of Sciences, China</p>
									</td>
								</tr>
								<tr>
									<td>11:25-11:40</td>
									<td>
										<p><b>OC6:</b> <i>O2-ethanol organosolv pretreatment of sugar cane bagasse and enzymatic hydrolysis</i></p>
										<p>Xingkang Li, University of Chinese Academy of Sciences, China</p>
									</td>
								</tr>
								<tr>
									<td>11:40-11:55</td>
									<td>
										<p><b>OC7:</b> <i>Optimization of Enzymatic Hydrolysis of Ammonium Hydroxide Pretreated Empty Fruit Bunch using Central Composite Design</i></p>
										<p>Shuhaida Harun, Universiti Kebangsaan Malaysia, Malaysia</p>
									</td>
								</tr>
								<tr>
									<td>11:55-12:10</td>
									<td>
										<p><b>OC8:</b> <i>A Novel Thermal-Chemical Treatment Process for the Full Utilization of Wheat Straw</i></p>
										<p>Bin Li, Qingdao Institute of Bioenergy and Bioprocess Technology, Chinese Academy of Sciences, China</p>
									</td>
								</tr>
							</tbody>
						</table>
						<h4>Parallel Session D-2: Synthetic biology and platform technology (Tower Room)</h4>
						<table class="table table-condensed">
							<tbody>
								<tr><td colspan="2"><b>Co-chairs: Jan Baeyens; Matthew Watson</b></td></tr>
								<tr>
									<td>10:15-10:35</td>
									<td>
										<p><b>Keynote, KD3:</b> <i>Enzyme discovery and engineering in synthetic biology</i></p>
										<p>Yan Feng, Shanghai Jiao Tong University，China</p>
									</td>
								</tr>
								<tr>
									<td>10:35-10:55</td>
									<td>
										<p><b>Keynote, KD4:</b> <i>TBD</i></p>
										<p>TBD</p>
									</td>
								</tr>
								<tr>
									<td>10:55-11:10</td>
									<td>
										<p><b>OD4:</b> <i>Research progress on  cellulosic ethanol bio-refinery process in GIEC</i></p>
										<p>Xinshu Zhuang, Guangzhou institute of energy conversion, CAS, China</p>
									</td>
								</tr>
								<tr>
									<td>11:10-11:25</td>
									<td>
										<p><b>OD5:</b> <i>Sustainability Analysis of a Novel Industrial Bioenergy System</i></p>
										<p>Rizwan Rasheed, GC University Lahore, Pakistan</p>
									</td>
								</tr>
								<tr>
									<td>11:25-11:40</td>
									<td>
										<p><b>OD6:</b> <i>Tailoring the Oxidative Resistance of Clostridium tyrobutyricum CCTCC W428 by Metabolic Engineering</i></p>
										<p>Ling Jiang, Nanjing Tech University, China</p>
									</td>
								</tr>
								<tr>
									<td>11:40-11:55</td>
									<td>
										<p><b>OD7:</b> <i>Supported Liquid Membrane Process for Removal of Acetic Acid From Biomass Hydrolysate</i></p>
										<p>Syed Saufi, Universiti Malaysia Pahang, Malaysia</p>
									</td>
								</tr>
								<tr>
									<td>11:55-12:10</td>
									<td>
										<p><b>OD8:</b> <i>Reprogramming cellulase and xylananse transcription by synthetic transcription factors in Trichoderma reesei</i></p>
										<p>Fangzhong Wang, Shandong University, China</p>
									</td>
								</tr>
								
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div id="footer">
				
			</div>
		</div>
		<include file="./Application/Home/View/Public/common/script.html" />
	</body>

</html>