<!DOCTYPE html>
<html>

	<include file="./Application/Home/View/Public/common/head.html" />

	<body>
		<div id="wrapper">
			<div id="header">
				
			</div>
			<div id="main">
				<div id="left">
					<include file="./Application/Home/View/Public/common/menu.html" />
				</div>
				<div id="right">
					<div class="content">
						<h3>INVITED SPEAKERS</h3>
						    <div class="thumbnail">
						      <img src="__STATIC__/img/tantianwei.jpg" alt="Tianwei Tan">
						      <div class="caption">
						        <h3><a target="_blank" href="http://english.buct.edu.cn/about/PresidentUniversityAffairsConcil/index.htm">Professor Tianwei Tan</a></h3>
						        <p>Academician of the Chinese Academy of Engineering, President of the Beijing University of Chemical Technology</p>
						      </div>
						    </div>
						    <div class="thumbnail">
						      <img src="__STATIC__/img/Jens_Nielsen.jpg" alt="Jens Nielsen">
						      <div class="caption">
						        <h3><a target="_blank" href="http://www.sysbio.se/profiles/personal_Jens.html">Professor Jens Nielsen</a></h3>
						        <p>Department of Biology and Biological Engineering, Chalmers University of Technology, Sweden</p>
						      </div>
						    </div>
						    <div class="thumbnail">
						      <img src="__STATIC__/img/Yusuf_Chisti.jpg" alt="Yusuf Chisti">
						      <div class="caption">
						        <h3><a target="_blank" href="http://www.massey.ac.nz/massey/expertise/profile.cfm?stref=680630">Professor Yusuf Chisti</a></h3>
						        <p>Biochemical Engineering in the School of Engineering, Massey University, New Zealand</p>
						      </div>
						    </div>
						    <div class="thumbnail">
						      <img src="__STATIC__/img/ShushengPang.jpg" alt="Shusheng Pang">
						      <div class="caption">
						        <h3><a target="_blank" href="http://www.cape.canterbury.ac.nz/people/pang.shtml">Professor Shusheng Pang</a></h3>
						        <p>Director of Wood Technology Research Centre, Department of Chemical and Process Engineering, University of Canterbury, New Zealand</p>
						      </div>
						    </div>
						    <div class="thumbnail">
						      <img src="__STATIC__/img/liushijie.jpg" alt="Shijie Liu">
						      <div class="caption">
						        <h3><a target="_blank" href="http://www.esf.edu/faculty/liu">Professor Shijie Liu</a></h3>
						        <p>Director of Bioprcess Engineering Collaborations, Department of Paper and Bioprocess Engineering, SUNY ESF, US</p>
						      </div>
						    </div>
						    <div class="thumbnail">
						      <img src="__STATIC__/img/mooyoung.jpg" alt="Murray Moo-Young">
						      <div class="caption">
						        <h3><a target="_blank" href="https://uwaterloo.ca/chemical-engineering/people-profiles/murray-moo-young">Professor Murray Moo-Young</a></h3>
						        <p>Department of Chemical Engineering, Centre for Bioengineering and Biotechnology University of Waterloo, Canada</p>
						      </div>
						    </div>
						    <div class="thumbnail">
						      <img src="__STATIC__/img/Dongke_Zhang.jpg" alt="Dongke Zhang">
						      <div class="caption">
						        <h3><a target="_blank" href="http://www.web.uwa.edu.au/people/dongke.zhang">Professor Dongke Zhang</a></h3>
						        <p>Director of UWA Centre for Energy, The University of Western Australia, Australia</p>
						      </div>
						    </div>
						    <div class="thumbnail">
						      <img src="__STATIC__/img/Charles_Xu.jpg" alt="Chares Xu">
						      <div class="caption">
						        <h3><a target="_blank" href="http://eng.uwo.ca/chemical/faculty/xu_c">Professor Chares Xu</a></h3>
						        <p>Department of Chemical and Biochemical Engineering, Western University Ontario, Canada</p>
						      </div>
						    </div>
						    <div class="thumbnail">
						      <img src="__STATIC__/img/zhang_chg.jpg" alt="Jason Zhang">
						      <div class="caption">
						        <h3><a target="_blank" href="http://engineering.uottawa.ca/people/zhang-jason">Professor Jason Zhang</a></h3>
						        <p>Chemical&Biological Engineering, Vice-Dean International Affairs, Faculty of Engineering, University of Ottawa, Canada</p>
						      </div>
						    </div>
						    <div class="thumbnail">
						      <img src="__STATIC__/img/Jan_Baeyens.jpg" alt="Jan Baeyens">
						      <div class="caption">
						        <h3><a target="_blank" href="https://www.hindawi.com/94182636/">Professor Jan Baeyens</a></h3>
						        <p>The University of Warwick, United Kingdom</p>
						      </div>
						    </div>
					</div>
				</div>
			</div>
			<div id="footer">
				
			</div>
		</div>
		<include file="./Application/Home/View/Public/common/script.html" />
	</body>

</html>