<!DOCTYPE html>
<html>

	<include file="./Application/Home/View/Public/common/head.html" />

	<body>
		<div id="wrapper">
			<div id="header">
				
			</div>
			<div id="main">
				<div id="left">
					<include file="./Application/Home/View/Public/common/menu.html" />
				</div>
				<div id="right">
					<div class="content transportation">
						<h3>How to get there</h3>
						<p>How to get to <b>The Chateau on The Park Hotel</b> (address: 189 Deans Avenue, Riccarton, Christchurch):</p>
						<h4>Transports by bus:</h4>
						<p>There are two buses you can take from Christchurch Airport to the hotel (buses start every 30 minutes):</p>
						
							a) Bus 29 (from airport to city centre), getting off the bus at the corner of Fendalton Road and Deans Avenue then walking about 5 minutes to the hotel (see the map below).
							<p class="content_img">
								<img src="__STATIC__/img/bus29.png"/>
							</p>
							b) Bus Purple Line (from airport to Sumner), getting off the bus at the comer of Riccarton Road and Deans Avenue, then walking about 5 minutes to the conference hotel (see the map below).
							<p class="content_img">
								<img src="__STATIC__/img/bus_purple_line.png"/>
							</p>
						<h4>Transport by shuttle:</h4>
						<p>There are shuttle service (Super Shuttles) at the airport outside the air airport exit.</p>
						<h4>Transport by taxi:</h4>
						<p>There are taxies outside the airport exit.</p>
						<h3>Fares for Transport</h3>
						<p><b>Buses: </b>$NZ8.5 for a one-way bus ticket or $NZ15 for a return bus ticket (please get coins ready for the bus tickets).</p>
						<p><b>Super Shuttle: </b>$NZ25 for one person.</p>
						<p><b>Taxi: </b>approximately $NZ50.</p>
						
						<h3>Conference Rooms and Hall</h3>
						<p>If you arrive at 9am to 5pm on 18th of January 2017, you will see volunteers with sign of welcome. They will help with transport from the airport to the Chateau on the Park hotel.</p>
						<p class="content_img">
							<img style="border: 1px solid gainsboro !important;" class="venue_img" src="__STATIC__/img/venue_img.jpg"/>
						</p>
					</div>
				</div>
			</div>
			<div id="footer">
				
			</div>
		</div>
		<include file="./Application/Home/View/Public/common/script.html" />
	</body>

</html>