<!DOCTYPE html>
<html>

	<include file="./Application/Home/View/Public/common/head.html" />

	<body>
		<div id="wrapper">
			<div id="header">
				
			</div>
			<div id="main">
				<div id="left">
					<include file="./Application/Home/View/Public/common/menu.html" />
				</div>
				<div id="right">
					<div class="content transportation">
						<h3>How to get there?</h3>
						<p>How to get to the Chateau on The Park Hotel (address: 189 Deans Avenue, Riccarton, Christchurch):</p>
						<h4>By bus: </h4>
						<p>There are two buses you can take from Christchurch Airport to the hotel:</p>
						
							a) Bus 29 (from airport to city centre), taking off at the corner of Fendalton Road and Deans Avenue then walking 5 minutes to the hotel.
							<p class="content_img">
								<img src="__STATIC__/img/bus29.png"/>
							</p>
							b) Bus Purple Line (from airport to Sumner), taking off at the comer of Riccarton Road and Deans Avenue, then walking 5 minutes to the hotel.
							<p class="content_img">
								<img src="__STATIC__/img/bus_purple_line.png"/>
							</p>
						<p>Buses start every 30 minutes; ticket is $NZ8.5 one way or $NZ15 return.</p>
						<h4>By Super Shuttle: <span style="color: black; font-weight: normal;">$NZ25</span></h4>
						<h4>By Taxi: <span style="color: black;font-weight: normal;">approximately $NZ50</span></h4>
						<p>If you arrive at 9am to 5pm on 18th of January 2017, you will see volunteers with sign of welcome. They will help with transport from the airport to the Chateau on the Park hotel.</p>
						<h3>Conference Venue</h3>
						<p class="content_img">
							<img style="border: 1px solid gainsboro !important;" class="venue_img" src="__STATIC__/img/planview.png"/>
						</p>
					</div>
				</div>
			</div>
			<div id="footer">
				
			</div>
		</div>
		<include file="./Application/Home/View/Public/common/script.html" />
	</body>

</html>