<!DOCTYPE html>
<html>

	<include file="./Application/Home/View/Public/common/head.html" />

	<body>
		<div id="wrapper">
			<div id="header">
				
			</div>
			<div id="main">
				<div id="left">
					<include file="./Application/Home/View/Public/common/menu.html" />
				</div>
				<div id="right">
					<div class="content">
						<h3>Venue</h3>
							<p class="content_img">
								<img class="venue_img" src="__STATIC__/img/field-533541_1920.jpg"/>
							</p>
							<p>The RRB-12 Conference will be held at Het Pand in Ghent. </p>
							<p>Het Pand is the culture and congress centre of Ghent University. Het Pand is a historical monument: this unique building is a former Dominican Monastry, situated beside the river Leie in the historic center of the city of Ghent.</p>
						<h3>Ghent</h3>
							<p>Ghent's pedestrian-friendly city centre, with an area of 30 hectares, is the largest in Belgium.</p>
							<p>The historical city centre is a perfect place to walk or just saunter. There are treats for all the sense:</p>
							<p>your view is not obstructed by traffic, you can hear the excited chatter of the people around you and smell the delicious aromas coming from the shops and restaurants. </p>
							<p>Find out more about the city and thing to do or to discover here.</p>
							<p class="content_img">
								<img class="venue_img" src="__STATIC__/img/Res_detail_MD_exterior1_1170x660.jpg"/>
							</p>
						<h3>How to get there?</h3>
							<h4>By train:</h4>
								<p>There are 2 direct trains per hour from Brussels Central Railway Station (35 minutes). From London and Paris, Ghent can easily be reached by Thalys & Eurostar.</p>
								<p>For details and timetables, go to: <a href="http://www.belgianrail.be/en/Splash.aspx?ReturnUrl=http%3a%2f%2fwww.belgianrail.be%2fen%2fDefault.aspx" target="_blank">www.b-rail.be</a></p>
								<p>Upon arrival in Ghent, take tram 1 at railway station (every 6 minutes), get off at the "Korenmarkt" and cross the river via the bridge "Sint-Michielsbrug". Turn around the Sint-Michiels church. Het Pand is situated next to the church.</p>
							<h4>By car:</h4>
								<p>Ghent is located near the E40 highway and has excellent road access to all over Europe (3 hours from Paris, 2 hours from Amsterdam, 1 hour from the Chunnel).</p>
							<h4>By Plane:</h4>
								<p>Brussels airport is a major European airport and has plenty of connections. It has direct highway and train access.</p>
						<h3>What to do upon arrival at the Brussels airport (Zaventem)?</h3>
							<p>The airport is connected to the 3 railway stations in Brussels (South or Midi, Central and North Stations) by 3 direct trains per hour. From these railway stations there are 2 direct trains to Ghent every hour. Train tickets can be purchased at the airport (level -1).</p>
							<p><b>There is also at least one direct train per hour from the airport to Ghent. </b>For further details and timetables, visit <a href="http://www.belgianrail.be/en/Splash.aspx?ReturnUrl=http%3a%2f%2fwww.belgianrail.be%2fen%2fDefault.aspx" target="_blank">www.b-rail.be</a> (Belgian Railways) and www.brusselsairport.be (Brussels airport).</p>
						<h3>Where to park your car?</h3>
							<p>Follow signs to P7-Parking St. Michiels, which is located virtually opposite Het Pand.</p>
					
					</div>
				</div>
			</div>
			<div id="footer">
				
			</div>
		</div>
		<include file="./Application/Home/View/Public/common/script.html" />
	</body>

</html>