<!DOCTYPE html>
<html>

	<include file="./Application/Home/View/Public/common/head.html" />

	<body>
		<div id="wrapper">
			<div id="header">
				
			</div>
			<div id="main">
				<div id="left">
					<include file="./Application/Home/View/Public/common/menu.html" />
				</div>
				<div id="right">
					<div class="content">
						<h3>Christchurch</h3>
							<p class="content_img">
								<img class="venue_img" src="__STATIC__/img/Christchurch_City.jpg"/>
							</p>
							<p>Christchurch is the largest city in the South Island of New Zealand and the seat of the Canterbury Region. The Christchurch urban area lies on the South Island's east coast, just north of Banks Peninsula. It is home to 381,800 residents, making it New Zealand's third most-populous urban area behind Auckland and Wellington.</p>
							<p>The city was named by the Canterbury Association, which settled the surrounding province of Canterbury. The name of Christchurch was agreed on at the first meeting of the association on 27 March 1848. It was suggested by John Robert Godley, who had attended Christ Church, Oxford. Some early writers called the town Christ Church, but it was recorded as Christchurch in the minutes of the management committee of the association. Christchurch became a city by Royal Charter on 31 July 1856, making it officially the oldest established city in New Zealand.</p>
							<p class="content_img">
								<img class="venue_img" src="__STATIC__/img/UC_ViewFromCentralLibrary_gobeirne.jpg"/>
							</p>
						<h3>Venue</h3>
							<p>6th International Conference on Biorefinery will be held at The Chateau on the Park in Christchurch. </p>
							<p>The Chateau on the Park is resort style hotel accommodation located in Christchurch.  Set amongst 5 acres of tranquil surroundings and amongst gorgeous gardens the hotel offers a welcome retreat for both leisure and corporate guests.  Just minutes away from Westfield Riccarton mall, the CBS Arena and the Addington Business District, it is the perfect hotel for your stay in Christchurch.</p>
							<p class="content_img">
								<img class="venue_img" src="__STATIC__/img/ParkHotel.png"/>
							</p>
						<!--
                        	作者：807729560@163.com
                        	时间：2016-05-08
                        	描述：如何去
                        
						<h3>How to get there?</h3>
							<h4>By train:</h4>
								<p>There are 2 direct trains per hour from Brussels Central Railway Station (35 minutes). From London and Paris, Ghent can easily be reached by Thalys & Eurostar.</p>
								<p>For details and timetables, go to: <a href="http://www.belgianrail.be/en/Splash.aspx?ReturnUrl=http%3a%2f%2fwww.belgianrail.be%2fen%2fDefault.aspx" target="_blank">www.b-rail.be</a></p>
								<p>Upon arrival in Ghent, take tram 1 at railway station (every 6 minutes), get off at the "Korenmarkt" and cross the river via the bridge "Sint-Michielsbrug". Turn around the Sint-Michiels church. Het Pand is situated next to the church.</p>
							<h4>By car:</h4>
								<p>Ghent is located near the E40 highway and has excellent road access to all over Europe (3 hours from Paris, 2 hours from Amsterdam, 1 hour from the Chunnel).</p>
							<h4>By Plane:</h4>
								<p>Brussels airport is a major European airport and has plenty of connections. It has direct highway and train access.</p>
						<h3>What to do upon arrival at the Brussels airport (Zaventem)?</h3>
							<p>The airport is connected to the 3 railway stations in Brussels (South or Midi, Central and North Stations) by 3 direct trains per hour. From these railway stations there are 2 direct trains to Ghent every hour. Train tickets can be purchased at the airport (level -1).</p>
							<p><b>There is also at least one direct train per hour from the airport to Ghent. </b>For further details and timetables, visit <a href="http://www.belgianrail.be/en/Splash.aspx?ReturnUrl=http%3a%2f%2fwww.belgianrail.be%2fen%2fDefault.aspx" target="_blank">www.b-rail.be</a> (Belgian Railways) and www.brusselsairport.be (Brussels airport).</p>
						<h3>Where to park your car?</h3>
							<p>Follow signs to P7-Parking St. Michiels, which is located virtually opposite Het Pand.</p>
						-->
					</div>
				</div>
			</div>
			<div id="footer">
				
			</div>
		</div>
		<include file="./Application/Home/View/Public/common/script.html" />
	</body>

</html>