<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>仿rrb</title>
		<!-- Bootstrap core CSS -->
		<link href="__STATIC__/css/bootstrap.min.css" rel="stylesheet">
			
		<link href="__STATIC__/css/jquery-accordion-menu.css" rel="stylesheet" type="text/css" />
		<link href="__STATIC__/css/font-awesome.css" rel="stylesheet" type="text/css" />
		
		<!-- Custom styles for this template -->
		<link href="__STATIC__/css/main.css" rel="stylesheet">

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
	      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->
	</head>

	<body>
		<div id="wrapper">
			<div id="header">
				
			</div>
			<div id="main">
				<div id="left">
					<div id="menu">
						<div id="jquery-accordion-menu" class="jquery-accordion-menu red">
							<ul id="demo-list">
							 
							    <li><a href="index"><i class="fa fa-long-arrow-right"></i>WELCOME</a></li>
								<li class="active"><a href="#"><i class="fa fa-long-arrow-right"></i>VENUE, GHENT, THE CITY</a></li>
								<li><a href="#"><i class="fa fa-long-arrow-right"></i>ICB-6 ORGANIZING COMMITTEE</a></li>
								<li><a href="#"><i class="fa fa-long-arrow-right"></i>ICB-6 SCIENTIFIC ADVISORY BOARD</a></li>
								<li><a href="#"><i class="fa fa-long-arrow-right"></i>CONFIRMED FACULTY AND CHAIRS</a></li>
								<li><a href="#"><i class="fa fa-long-arrow-right"></i>CALL FOR ABSTRACTS</a></li>
								<li><a href="#"><i class="fa fa-long-arrow-right"></i>PROGRAM</a>
									<ul class="submenu">
										<li><a href="#"><i class="fa fa-long-arrow-right"></i>MONDAY, MAY 30</a></li>
										<li><a href="#"><i class="fa fa-long-arrow-right"></i>TUESDAY, MAY 31</a></li>
										<li><a href="#"><i class="fa fa-long-arrow-right"></i>WEDNESDAY, JUNE 1</a></li>
									</ul>
								</li>
								<li><a href="#"><i class="fa fa-long-arrow-right"></i>FRINGE EVENTS</a>
									<ul class="submenu">
										<li><a href="#"><i class="fa fa-long-arrow-right"></i>VISIT OF THE STORA ENSO PLANT</a></li>
									</ul>
								</li>
								<li><a href="#"><i class="fa fa-long-arrow-right"></i>REGISTRATION</a></li>
								<li><a href="#"><i class="fa fa-long-arrow-right"></i>HOTEL ACCOMMODATION</a></li>
							    <li><a href="#"><i class="fa fa-long-arrow-right"></i>SPONSORS</a></li>
							    <li><a href="#"><i class="fa fa-long-arrow-right"></i>CONTACT</a></li>
							    <li><a href="#"><i class="fa fa-long-arrow-right"></i>PHOTO GALLERY</a></li>
							    <li><a href="#"><i class="fa fa-long-arrow-right"></i>PREVIOUS EDITIONS</a>
							    	<ul class="submenu">
										<li><a href="#"><i class="fa fa-long-arrow-right"></i>RRB1 : 2005</a></li>
										<li><a href="#"><i class="fa fa-long-arrow-right"></i>RRB2 : 2006</a></li>
										<li><a href="#"><i class="fa fa-long-arrow-right"></i>RRB3 : 2007</a></li>
										<li><a href="#"><i class="fa fa-long-arrow-right"></i>RRB4 : 2008</a></li>
										<li><a href="#"><i class="fa fa-long-arrow-right"></i>RRB5 : 2009</a></li>
										<li><a href="#"><i class="fa fa-long-arrow-right"></i>RRB6 : 2010</a></li>
										<li><a href="#"><i class="fa fa-long-arrow-right"></i>RRB7 : 2011</a></li>
										<li><a href="#"><i class="fa fa-long-arrow-right"></i>RRB7 : 2011 AWARDS</a></li>
										<li><a href="#"><i class="fa fa-long-arrow-right"></i>RRB8 : 2012</a></li>
										<li><a href="#"><i class="fa fa-long-arrow-right"></i>RRB9 : 2013</a></li>
										<li><a href="#"><i class="fa fa-long-arrow-right"></i>RRB10: 2014</a></li>
										<li><a href="#"><i class="fa fa-long-arrow-right"></i>RRB11: 2015</a></li>
									</ul>
							    </li>
							    <li><a href="#"><i class="fa fa-long-arrow-right"></i>LINKS</a></li>
							</ul>
							
						</div>
					</div>
				</div>
				<div id="right">
					<div class="content">
						<h3>Venue</h3>
							<p class="content_img">
								<img class="venue_img" src="__STATIC__/img/field-533541_1920.jpg"/>
							</p>
							<p>The RRB-12 Conference will be held at Het Pand in Ghent. </p>
							<p>Het Pand is the culture and congress centre of Ghent University. Het Pand is a historical monument: this unique building is a former Dominican Monastry, situated beside the river Leie in the historic center of the city of Ghent.</p>
						<h3>Ghent</h3>
							<p>Ghent's pedestrian-friendly city centre, with an area of 30 hectares, is the largest in Belgium.</p>
							<p>The historical city centre is a perfect place to walk or just saunter. There are treats for all the sense:</p>
							<p>your view is not obstructed by traffic, you can hear the excited chatter of the people around you and smell the delicious aromas coming from the shops and restaurants. </p>
							<p>Find out more about the city and thing to do or to discover here.</p>
							<p class="content_img">
								<img class="venue_img" src="__STATIC__/img/Res_detail_MD_exterior1_1170x660.jpg"/>
							</p>
						<h3>How to get there?</h3>
							<h4>By train:</h4>
								<p>There are 2 direct trains per hour from Brussels Central Railway Station (35 minutes). From London and Paris, Ghent can easily be reached by Thalys & Eurostar.</p>
								<p>For details and timetables, go to: <a href="http://www.belgianrail.be/en/Splash.aspx?ReturnUrl=http%3a%2f%2fwww.belgianrail.be%2fen%2fDefault.aspx" target="_blank">www.b-rail.be</a></p>
								<p>Upon arrival in Ghent, take tram 1 at railway station (every 6 minutes), get off at the "Korenmarkt" and cross the river via the bridge "Sint-Michielsbrug". Turn around the Sint-Michiels church. Het Pand is situated next to the church.</p>
							<h4>By car:</h4>
								<p>Ghent is located near the E40 highway and has excellent road access to all over Europe (3 hours from Paris, 2 hours from Amsterdam, 1 hour from the Chunnel).</p>
							<h4>By Plane:</h4>
								<p>Brussels airport is a major European airport and has plenty of connections. It has direct highway and train access.</p>
						<h3>What to do upon arrival at the Brussels airport (Zaventem)?</h3>
							<p>The airport is connected to the 3 railway stations in Brussels (South or Midi, Central and North Stations) by 3 direct trains per hour. From these railway stations there are 2 direct trains to Ghent every hour. Train tickets can be purchased at the airport (level -1).</p>
							<p><b>There is also at least one direct train per hour from the airport to Ghent. </b>For further details and timetables, visit <a href="http://www.belgianrail.be/en/Splash.aspx?ReturnUrl=http%3a%2f%2fwww.belgianrail.be%2fen%2fDefault.aspx" target="_blank">www.b-rail.be</a> (Belgian Railways) and www.brusselsairport.be (Brussels airport).</p>
						<h3>Where to park your car?</h3>
							<p>Follow signs to P7-Parking St. Michiels, which is located virtually opposite Het Pand.</p>
					
					</div>
				</div>
			</div>
			<div id="footer">
				
			</div>
		</div>
		<!-- Bootstrap core JavaScript
    ================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="__STATIC__/js/jquery.min.js"></script>
		<script src="__STATIC__/js/bootstrap.min.js"></script>
		<script src="__STATIC__/js/jquery-accordion-menu.js" type="text/javascript"></script>
		<script src="__STATIC__/js/main.js"></script>
		<script type="text/javascript">
			$(function(){	
				//顶部导航切换
				$("#demo-list li").click(function(){
					$("#demo-list li.active").removeClass("active")
					$(this).addClass("active");
				})	
			})	
		</script>
		<script type="text/javascript">
			(function($) {
			$.expr[":"].Contains = function(a, i, m) {
				return (a.textContent || a.innerText || "").toUpperCase().indexOf(m[3].toUpperCase()) >= 0;
			};
			function filterList(header, list) {
				//@header 头部元素
				//@list 无需列表
				//创建一个搜素表单
				var form = $("<form>").attr({
					"class":"filterform",
					action:"#"
				}), input = $("<input>").attr({
					"class":"filterinput",
					type:"text"
				});
				$(form).append(input).appendTo(header);
				$(input).change(function() {
					var filter = $(this).val();
					if (filter) {
						$matches = $(list).find("a:Contains(" + filter + ")").parent();
						$("li", list).not($matches).slideUp();
						$matches.slideDown();
					} else {
						$(list).find("li").slideDown();
					}
					return false;
				}).keyup(function() {
					$(this).change();
				});
			}
			$(function() {
				filterList($("#form"), $("#demo-list"));
			});
			})(jQuery);	
			</script>
			
			<script type="text/javascript">
			
				jQuery("#jquery-accordion-menu").jqueryAccordionMenu();
				
			</script>
	</body>

</html>