<!DOCTYPE html>
<html lang="en">

	<include file="./Application/Home/View/Public/common/user_head.html" />

	<body>
		<div class="container header">
			<div class="jumbotron">

			</div>
		</div>
		<div class="container main ">
			<h1 class="text-center">Start Registration</h1>
			<br>
			<p class="lead text-center">This page is under construction...</p>
			<p class="text-center">
				<a class="btn btn-primary" href="http://www.icb2017.org">Reutrn to Home Page</a>
			</p>
		</div>
		<include file="./Application/Home/View/Public/common/user_script.html" />
		<script type="text/javascript">
		$(document).ready(function() {
			
		});
			

		</script>
	</body>

</html>