<!DOCTYPE html>
<html lang="en">

	<include file="./Application/Home/View/Public/common/user_head.html" />

	<body>
		<div class="container header">
			<div class="jumbotron">

			</div>
		</div>
		<div class="container main">
			
			<form id="registration_form" action="add_registration" method="post" class="col-md-8 col-md-offset-2">
			
				<div class="form-group">
					<label>Please select from the following options:</label>
				</div>
				<div class="radio">
					<label>
					    <input type="radio" name="refer_types" id="refer_type1" value="1" checked>
					    Academician/ Government Employee
					</label>
				</div>
				<div class="radio">
					<label>
					    <input type="radio" name="refer_types" id="refer_type2" value="2">
					    Industrial Partner
					</label>
				</div>
				<div class="radio">
					<label>
					    <input type="radio" name="refer_types" id="refer_type3" value="3">
					    Students
					</label>
				</div>
				<div class="radio">
					<label>
					    <input type="radio" name="refer_types" id="refer_type4" value="4">
					    Accompanying person
					</label>
				</div>
				<hr />
				<div class="form-group">
					<label>Do you want to receive an invitation letter for Visa application?</label>
				</div>
				<div class="radio">
					<label>
					    <input type="radio" name="is_visa" id="is_visa1" value="1" checked>
					    Yes
					</label>
				</div>
				<div class="radio">
					<label>
					    <input type="radio" name="is_visa" id="is_visa2" value="2">
					    No
					</label>
				</div>
				<hr />
				<div id="visa_info" class="form-horizontal">
                    <div class="form-group">
						<label for="full_name" class="col-sm-4 control-label">Full Name (like on passport)<span class="mark">*</span></label>
						<div class="col-sm-8">
							<input type="text" class="form-control" id="full_name" name="full_name" placeholder="Full Name">
						</div>
					</div>
					<div class="form-group">
						<label for="address" class="col-sm-4 control-label">Street and Number (personal address)<span class="mark">*</span></label>
						<div class="col-sm-8">
							<input type="text" class="form-control" id="address" name="address" placeholder="Street and Number">
						</div>
					</div>
					<div class="form-group">
						<label for="zip" class="col-sm-4 control-label">Zip Code (personal address)<span class="mark">*</span></label>
						<div class="col-sm-8">
							<input type="text" class="form-control" id="zip" name="zip" placeholder="Zip Code">
						</div>
					</div>
					<div class="form-group">
						<label for="city" class="col-sm-4 control-label">City (personal address)<span class="mark">*</span></label>
						<div class="col-sm-8">
							<input type="text" class="form-control" id="city" name="city" placeholder="City">
						</div>
					</div>
					<div class="form-group">
						<label for="country" class="col-sm-4 control-label">Country (personal address)<span class="mark">*</span></label>
						<div class="col-sm-8">
							<select id="country" name="country" class="form-control">
								<option value="">-- Select One --</option>
								<volist name="country_list" id="country">
									<option value="{$key}">{$country}</option>
								</volist>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="pass_no" class="col-sm-4 control-label">Passport Number<span class="mark">*</span></label>
						<div class="col-sm-8">
							<input type="text" class="form-control" id="pass_no" name="pass_no" placeholder="Passport Number">
						</div>
					</div>
					<div class="form-group">
						<label for="pass_place" class="col-sm-4 control-label">Place of Issue Passport<span class="mark">*</span></label>
						<div class="col-sm-8">
							<input type="text" class="form-control" id="pass_place" name="pass_place" placeholder="Place of Issue Passport">
						</div>
					</div>
					<div class="form-group">
						<label for="pass_date" class="col-sm-4 control-label">Date of Issue Passport<span class="mark">*</span></label>
						<div class="col-sm-8 input-group date form_date" data-date-format="dd/mm/yyyy" data-link-field="pass_date" data-link-format="yyyy-mm-dd">
							<input class="form-control" type="text" value="" placeholder="Pick One" readonly>
		                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
							<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
						</div>
						<input class="form-control" type="hidden" id="pass_date" name="pass_date">
					</div>
					<div class="form-group">
						<label for="expiry_date" class="col-sm-4 control-label">Date of Expiry Passport<span class="mark">*</span></label>
						<div class="col-sm-8 input-group date form_date" data-date-format="dd/mm/yyyy" data-link-field="expiry_date" data-link-format="yyyy-mm-dd">
							<input class="form-control" type="text" value="" placeholder="Pick One" readonly>
		                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
							<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
						</div>
						<input class="form-control" type="hidden" id="expiry_date" name="expiry_date">
					</div>
					<div class="form-group">
						<label for="birth_date" class="col-sm-4 control-label">Date of Birth<span class="mark">*</span></label>
						<div class="col-sm-8 input-group date form_date" data-date-format="dd/mm/yyyy" data-link-field="birth_date" data-link-format="yyyy-mm-dd">
							<input class="form-control" type="text" value="" placeholder="Pick One" readonly>
		                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
							<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
						</div>
						<input class="form-control" type="hidden" id="birth_date" name="birth_date">
					</div>
                    <div class="form-group">
						<label for="birth_place" class="col-sm-4 control-label">Place of Birth<span class="mark">*</span></label>
						<div class="col-sm-8">
							<input type="text" class="form-control" id="birth_place" name="birth_place" placeholder="Place of Birth">
						</div>
					</div>
					<div class="form-group">
						<label for="birth_country" class="col-sm-4 control-label">Country of Birth<span class="mark">*</span></label>
						<div class="col-sm-8">
							<select id="birth_country" name="birth_country" class="form-control">
								<option value="">-- Select One --</option>
								<volist name="country_list" id="country">
									<option value="{$key}">{$country}</option>
								</volist>
							</select>
						</div>
					</div>
					<hr />
                </div>
                <br />
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-8 text-center">
						<button type="submit" class="btn btn-primary">Continue</button>
					</div>
				</div>
			</form>
		</div>
		<include file="./Application/Home/View/Public/common/user_script.html" />
		<script type="text/javascript">
		$(document).ready(function() {
			$('#registration_form')
	        .bootstrapValidator({
	            feedbackIcons: {
	                valid: 'glyphicon glyphicon-ok',
	                invalid: 'glyphicon glyphicon-remove',
	                validating: 'glyphicon glyphicon-refresh'
	            },
	            fields: {
	                refer_types: {
		                validators: {
		                    notEmpty: {
		                        message: 'This One is required'
		                    }
		                }
		            },
		            is_visa: {
		                validators: {
		                    notEmpty: {
		                        message: 'This One is required'
		                    }
		                }
		            },
		            full_name: {
		                validators: {
		                    notEmpty: {
		                        message: 'The full name is required and cannot be empty'
		                    }
		                }
		            },
		            address: {
		                validators: {
		                    notEmpty: {
		                        message: 'The address is required'
		                    }
		                }
		            },
		            zip: {
		                validators: {
		                    notEmpty: {
		                        message: 'The zip code is required'
		                    }
		                }
		            },
		            city: {
		                validators: {
		                    notEmpty: {
		                        message: 'The city is required'
		                    }
		                }
		            },
		            country: {
		                validators: {
		                    notEmpty: {
		                        message: 'The country is required'
		                    }
		                }
		            },
		            pass_no: {
		                validators: {
		                    notEmpty: {
		                        message: 'The passport number is required'
		                    }
		                }
		            },
		            pass_place: {
		                validators: {
		                    notEmpty: {
		                        message: 'The place of issue passport is required'
		                    }
		                }
		            },
		            pass_date: {
		                validators: {
		                    notEmpty: {
		                        message: 'The date of issue passport is required'
		                    }
		                }
		            },
		            expiry_date: {
		                validators: {
		                    notEmpty: {
		                        message: 'The date of expiry passport is required'
		                    }
		                }
		            },
		            birth_date: {
		                validators: {
		                    notEmpty: {
		                        message: 'The date of birth passport is required'
		                    }
		                }
		            },
		            birth_place: {
		                validators: {
		                    notEmpty: {
		                        message: 'The place of birth passport is required'
		                    }
		                }
		            },
		            birth_country: {
		                validators: {
		                    notEmpty: {
		                        message: 'The country of birth passport is required'
		                    }
		                }
		            },
	            }
	        })
	        .on('click', 'input[name="is_visa"]', function() {
	            var $target = $("#visa_info");
	            
	            if($(this).val() == 1){
	            	$target.show();
	            }else{
	            	$target.hide();
	            }
	            
	            if (!$target.is(':visible')) {
	                // Enable the submit buttons in case additional fields are not valid
	                $('#registration_form').data('bootstrapValidator').disableSubmitButtons(false);
	            }
	        });
		});
			
		$('.form_date').datetimepicker({
	        weekStart: 1,
	        todayBtn:  1,
			autoclose: 1,
			todayHighlight: 1,
			startView: 2,
			minView: 2,
			forceParse: 0
	    });

		</script>
	</body>

</html>