
<!DOCTYPE html>
<html lang="en">

<include file="./Application/Home/View/Public/common/user_head.html" />

<body>

    <div id="wrapper">

        <include file="./Application/Home/View/Public/common/user_nav.html" />

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Welcome
                        <small>{$user.title}{$user.last_name}</small>
                        </h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <div class="row">
                	<div class="panel panel-default">
                        <div class="panel-heading">
                            Your Submitted Abstract(s)
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <empty name="abstracts">
                            	<p>You have not submitted your abstracts yet, click <a href="{:U('Abstract/submit_abstract')}">here</a> to submit now!</p>
                            <else />
                            	<div class="table-responsive">
	                                <table class="table table-striped table-bordered table-hover">
	                                    <thead>
	                                        <tr>
	                                            <th>#</th>
	                                            <th>Title</th>
	                                            <th>Topic</th>
	                                            <th>Type</th>
	                                            <th>Status</th>
	                                            <th>Submission Time</th>
	                                        </tr>
	                                    </thead>
	                                    <tbody>
	                                        <volist name="abstracts" id="abstract">
	                                        	<tr>
		                                            <td>{$i}</td>
		                                            <td>{$abstract.full_title}</td>
		                                            <td><php>echo $topic_list[$abstract['topic']]</php></td>
		                                            <td><php>echo $type_list[$abstract['type']]</php></td>
		                                            <td>
		                                            	<if condition="$abstract.status eq 2"> Accepted
		                                            		<elseif condition="$abstract.status eq 1"/>Initiated
			                                            	<else /> Unkown
			                                            </if>
		                                            </td>
		                                            <td>{$abstract.created_time}</td>
		                                        </tr>
	                                        </volist>
	                                    </tbody>
	                                </table>
	                            </div>
	                            <!-- /.table-responsive -->
                            </empty>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                	<div class="panel panel-default">
                        <div class="panel-heading">
                            Your Registration(s)
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <empty name="abstracts">
                            	<p>You do not have any registration yet, click <a href="{:U('Registration/new_reg')}">here</a> to register now!</p>
                            <else />
                            	<div class="table-responsive">
	                                <table class="table table-striped table-bordered table-hover">
	                                    <thead>
	                                        <tr>
		                                        <th>#</th>
		                                        <th>Reference Number</th>
		                                        <th>Attendee Category</th>
		                                        <th>First Name</th>
		                                        <th>Last Name</th>
		                                        <th>Email Address</th>
		                                        <th>Invitation Letter</th>
		                                        <th>Payment Type</th>
		                                        <th>Status</th>
		                                    </tr>
	                                    </thead>
	                                    <tbody>
	                                    <volist name="regs" id="reg">
	                                    	<tr id="reg_{$reg.reg_id}" class="reg_tr">
	                                            <td>{$i}</td>
	                                            <td>{$reg.refer_no}</td>
	                                            <td><php>echo $refer_type_list[$reg['refer_type']]</php></td>
	                                            <td>{$reg.first_name}</td>
	                                            <td>{$reg.last_name}</td>
	                                            <td>{$reg.email}</td>
	                                            
	                                            <if condition="$reg.is_visa eq 1">
	                                            	<td>Need</td>
	                                            	<else />
	                                            	<td>No Need</td>
	                                            </if>
	                                            <if condition="$reg.pay_type eq 1">
	                                            	<td>Credit Card</td>
	                                            	<else />
	                                            	<td>Wire Transfer</td>
	                                            </if>
	                                            <if condition="$reg.status eq 2">
	                                            	<td><button class="btn btn-success" disabled="disabled">Paid</button></td>
	                                            	<else />
	                                            	<td>
	                                            		<a target="_blank" href="__MODULE__/Registration/pay_reg?reg_id={$reg.reg_id}" data-toggle="tooltip" data-placement="bottom" title="Pay" class="btn btn-success">Pay</a>
	                                            	</td>
	                                            </if>
	                                        </tr>
	                                    </volist>
	                                </tbody>
	                                </table>
	                            </div>
	                            <!-- /.table-responsive -->
                            </empty>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

   	<include file="./Application/Home/View/Public/common/user_script.html" />

</body>

</html>
