<!DOCTYPE html>
<html lang="en">

	<include file="./Application/Home/View/Public/common/user_head.html" />

	<body>
		<div class="container header">
			<div class="jumbotron">

			</div>
		</div>
		<div class="container main ">
			<form id="login_form" class="form-horizontal col-md-8 col-md-offset-2" action="user_login" method="post">
				<div class="form-group">
					<label for="email" class="col-sm-3 control-label">Email Address</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="email" name="email" placeholder="Email">
					</div>

				</div>
				<div class="form-group">
					<label for="password" class="col-sm-3 control-label">Password</label>
					<div class="col-sm-8">
						<input type="password" class="col-sm-8 form-control" id="password" name="password" placeholder="Password">
					</div>

				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-8 text-center">
						<button type="submit" class="btn btn-primary">Login</button>
					</div>
				</div>
				
			</form>
		</div>
		<include file="./Application/Home/View/Public/common/user_script.html" />
		<script type="text/javascript">
		$(document).ready(function() {
			$('#login_form').bootstrapValidator({
		        message: 'This value is not valid',
		        feedbackIcons: {
		            valid: 'glyphicon glyphicon-ok',
		            invalid: 'glyphicon glyphicon-remove',
		            validating: 'glyphicon glyphicon-refresh'
		        },
		        submitHandler: function(validator, form, submitButton) {
		            $.post(form.attr('action'), form.serialize(), function(result) {
		                // The result is a JSON formatted by your back-end
		                // I assume the format is as following:
		                //  {
		                //      valid: true,          // false if the account is not found
		                //      username: 'Username', // null if the account is not found
		                //  }
		                if (result.valid == true || result.valid == 'true') {
		                    // You can reload the current location
		                    window.location.reload();
		
		                    // Or use Javascript to update your page, such as showing the account name
		                    // $('#welcome').html('Hello ' + result.username);
		                } else {
		                    // The account is not found
		                    // Show the errors
		                    $('#errors').html('The account is not found').removeClass('hide');
		
		                    // Enable the submit buttons
		                    $('#login_form').bootstrapValidator('disableSubmitButtons', false);
		                }
		            }, 'json');
		        },
		        fields: {
		        	
		            email: {
		                validators: {
		                	notEmpty: {
		                        message: 'The email is required and cannot be empty'
		                    },
		                    emailAddress: {
		                        message: 'The input is not a valid email address'
		                    }
		                }
		            },
		            password: {
		                validators: {
		                    notEmpty: {
		                        message: 'The password is required and cannot be empty'
		                    }
		                    
		                }
		            }
		        }
		    });
		});
			

		</script>
	</body>

</html>