<!DOCTYPE html>
<html lang="en">

	<include file="./Application/Home/View/Public/common/user_head.html" />

	<body>
		<div class="container header">
			<div class="jumbotron">

			</div>
		</div>
		<div class="container main ">
			<form id="select_form" class="form-horizontal col-md-8 col-md-offset-2" action="select_identity" method="post">
				<div class="form-group">
					<label>Do you have the account already and login or submit the abstract before?</label>
				</div>
				<div class="radio">
					<label>
					    <input type="radio" name="identity" id="identity1" value="1" checked>
					    Yes
					</label>
				</div>
				<div class="radio">
					<label>
					    <input type="radio" name="identity" id="identity2" value="2">
					    No
					</label>
				</div>
				<br />
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-8 text-center">
						<input type="hidden" name="action" id="action" value="{$action}" />
						<button type="submit" class="btn btn-primary">Continue</button>
					</div>
				</div>
			</form>
		</div>
		<include file="./Application/Home/View/Public/common/user_script.html" />
		<script type="text/javascript">
		$(document).ready(function() {
			
		});
			

		</script>
	</body>

</html>