<div id="menu">
	<div id="jquery-accordion-menu" class="jquery-accordion-menu red">
		<ul id="demo-list">
		 
		    <li><a href="index"><i class="fa fa-long-arrow-right"></i>WELCOME</a></li>
			<li><a href="venue"><i class="fa fa-long-arrow-right"></i>VENUE, GHENT, THE CITY</a></li>
			<li><a href="committee"><i class="fa fa-long-arrow-right"></i>ICB-6 ORGANIZING COMMITTEE</a></li>
			<li><a href="board"><i class="fa fa-long-arrow-right"></i>ICB-6 SCIENTIFIC ADVISORY BOARD</a></li>
			<li><a href="chairs"><i class="fa fa-long-arrow-right"></i>CONFIRMED FACULTY AND CHAIRS</a></li>
			<li><a href="abstracts"><i class="fa fa-long-arrow-right"></i>CALL FOR ABSTRACTS</a></li>
			<li><a href="#"><i class="fa fa-long-arrow-right"></i>PROGRAM</a>
				<ul class="submenu">
					<li><a href="program"><i class="fa fa-long-arrow-right"></i>Whole Program</a></li>
					<li><a href="firstday"><i class="fa fa-long-arrow-right"></i>MONDAY, MAY 30</a></li>
				</ul>
			</li>
			<li><a href="registration"><i class="fa fa-long-arrow-right"></i>REGISTRATION</a></li>
			<li><a href="#"><i class="fa fa-long-arrow-right"></i>HOTEL ACCOMMODATION</a></li>
		    <li><a href="#"><i class="fa fa-long-arrow-right"></i>SPONSORS</a></li>
		    <li><a href="#"><i class="fa fa-long-arrow-right"></i>CONTACT</a></li>
		    <li><a href="#"><i class="fa fa-long-arrow-right"></i>PHOTO GALLERY</a></li>
		    <li><a href="#"><i class="fa fa-long-arrow-right"></i>LINKS</a></li>
		</ul>
		
	</div>
</div>