	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="__STATIC__/js/jquery.min.js"></script>
	<script src="__STATIC__/js/bootstrap.min.js"></script>
	<script src="__STATIC__/js/jquery-accordion-menu.js" type="text/javascript"></script>
	<script src="__STATIC__/js/jquery.bsPhotoGallery.js" type="text/javascript" charset="utf-8"></script>
	<script src="__STATIC__/js/main.js"></script>
	<script type="text/javascript">
		$(function(){	
			//顶部导航切换
			$("#demo-list li").click(function(){
				$("#demo-list li.active").removeClass("active")
				$(this).addClass("active");
			})
			//加粗显示
			var href = '{$href}';
			if (href) {
				$("#demo-list li.active").removeClass("active")
				$("#demo-list [href='{:U("Index/$href")}']").parent("li").addClass("active");
				$("#demo-list [href='{:U("Index/$href")}']").parent().parent("ul").css("display","block");
			}
			
			//点击酒店预定
			$("#room_booking").click(function(){
				$("#hotels").click();
			})
			
		})	
	</script>