	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="__STATIC__/js/jquery.min.js"></script>
	<script src="__STATIC__/js/bootstrap.min.js"></script>
	<!-- Bootstrap Validator -->
	<script src="__STATIC__/js/bootstrapValidator.min.js"></script>
	<script src="__STATIC__/js/en_US.js"></script>
	<!-- Metis Menu Plugin JavaScript -->
    <script src="__STATIC__/js/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="__STATIC__/js/sb-admin-2.js"></script>
	<!-- Bootstrap Datetimepicker -->
	<script src="__STATIC__/js/bootstrap-datetimepicker.min.js" type="text/javascript" charset="utf-8"></script>