.header .jumbotron{
	height: 179px;
    background: url(../img/header_img.png) no-repeat center top;
    background-size: 100% auto;
    border-radius: 0;
}
.mark{
	color: red !important;
	background-color: white !important;
}

.form-group button{
	margin-right: 10px;
}
#page-wrapper{
	padding-bottom: 100px;
}

.hide{
	display: none;
}
