

.header .jumbotron{
	height: 179px;
    background: url(../img/header_img.png) no-repeat center top;
    background-size: 100% auto;
    border-radius: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}
@media screen and (max-width: 992px) {
    .header .jumbotron{
    	height: 130px;
    }
}
.main{
	margin-top: 30px;
}

.mark{
	color: red !important;
	background-color: transparent !important;
}

.form-group button{
	margin-right: 10px;
}
#page-wrapper{
	padding-bottom: 100px;
}

.hide{
	display: none;
}
#loading{
	position: absolute;
	left: 50%;
	top: 50%;
	height: 64px;
	font-size: 30px;
	line-height: 64px;
	display: none;
}
